<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-connection-lost.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">

<script src="happysenseopinions/requester.js"></script>
<script src="happysenseopinions/notifier-listener.js"></script>

<dom-module id="happysense-opinions">

    <template>
        <ul>
            <template is="dom-repeat" items="[[_opinions]]" as="opinion">
                <li>[[opinion]]</li>
            </template>
        </ul>
        <template is="dom-if" if="[[!_opinions.length]]"><div>No hay opiniones</div></template>
    </template>

    <style>
    </style>

    <script>

        const HappysenseOpinionsDictionary = {
            es: {
            },
            en: {
            }
        };

        Polymer({
            is: 'happysense-opinions',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                         CottonBehaviors.PushBehavior,
                         CottonBehaviors.TranslatorBehavior,
                         HappysenseOpinionsBehaviors.Requester,
                         HappysenseOpinionsBehaviors.NotifierListener ],

            properties : {
                _opinions: Array
            },

            attached : function() {
                this.translate(HappysenseOpinionsDictionary);
                this.listenToDisplay();
            },

            _refreshOpinions : function(opinions) {
                this._opinions = opinions;
            }

        });
    </script>
</dom-module>