<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">

<script src="../../lib/alexandria-activity-elements/dialogs/alexandria-dialog-requester.js"></script>
<script src="../../lib/alexandria-activity-elements/dialogs/alexandria-dialog-notifier-listener.js"></script>
<script src="../../lib/alexandria-activity-elements/dialogs/alexandria-dialog-behavior.js"></script>

<dom-module id="happysense-opinion">

	<template>
		<iframe id="frame" class="dialog" src="[[delegateUrl]]"></iframe>
	</template>

	<style>
		:host iframe {
			border: 0;
			overflow: auto;
			width: 100%;
			height: 100%;
			border-radius: 2px;
		}
	</style>

	<script>
		const HappysenseOpinionDictionary = {
			es: {
			},
			en: {
			}
		};

		Polymer({
			is: 'happysense-opinion',

			behaviors: [ CottonBehaviors.CarrierBehavior,
				CottonBehaviors.PushBehavior,
				CottonBehaviors.TranslatorBehavior,
				AlexandriaDialogBehaviors.Requester,
                AlexandriaDialogBehaviors.NotifierListener,
                AlexandriaDialogBehaviors.DialogBehavior ],

			attached : function() {
				this.translate(HappysenseOpinionDictionary);
				this.listenToDisplay();
				this._initDelegate();
			}

		});
	</script>
</dom-module>