<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-connection-lost.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">

<script src="happysensebrothers/requester.js"></script>
<script src="happysensebrothers/notifier-listener.js"></script>

<dom-module id="happysense-brothers">

    <template>
        <div>aquí va la tabla comparativa con los hermanos de <span>[[_label]]</span></div>
    </template>

    <style>
    </style>

    <script>

        const HappysenseBrothersDictionary = {
            es: {
            },
            en: {
            }
        };

        Polymer({
            is: 'happysense-brothers',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                         CottonBehaviors.PushBehavior,
                         CottonBehaviors.TranslatorBehavior,
                         HappysenseBrothersBehaviors.Requester,
                         HappysenseBrothersBehaviors.NotifierListener ],

            properties : {
            },

            attached : function() {
                this.translate(HappysenseBrothersDictionary);
                this.listenToDisplay();
            },

            _refreshLabel : function(label) {
                this._label = label;
            }

        });
    </script>
</dom-module>