<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-connection-lost.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/paper-tabs/paper-tabs.html">
<link rel="import" href="../../lib/iron-pages/iron-pages.html">
<link rel="import" href="../../lib/alexandria-activity-elements/alexandria-temporal-time-catalog.html">
<link rel="import" href="../../lib/alexandria-activity-elements/alexandria-temporal-range-catalog.html">
<link rel="import" href="happysense-evolucion.html">
<link rel="import" href="happysense-brothers.html">
<link reldd="import" href="happysense-cousins.html">
<link rel="import" href="happysense-opinions.html">

<script src="happysenseapplication/requester.js"></script>
<script src="happysenseapplication/notifier-listener.js"></script>

<dom-module id="happysense-application">

    <template>
        <cotton-zombie display="AlexandriaTemporalTimeCatalog" widget="AlexandriaTemporalTimeCatalog"></cotton-zombie>
        <cotton-zombie display="AlexandriaTemporalRangeCatalog" widget="AlexandriaTemporalRangeCatalog"></cotton-zombie>
    </template>

    <style>
    </style>

    <script>

        const HappysenseApplicationDictionary = {
            es: {
            },
            en: {
            }
        };

        Polymer({
            is: 'happysense-application',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                         CottonBehaviors.PushBehavior,
                         CottonBehaviors.TranslatorBehavior,
                         HappysenseApplicationBehaviors.Requester,
                         HappysenseApplicationBehaviors.NotifierListener ],

            properties : {
            },

            attached : function() {
                this.translate(HappysenseApplicationDictionary);
                this.listenToDisplay();
            }

        });
    </script>
</dom-module>
