<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-connection-lost.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">

<script src="happysensecousins/requester.js"></script>
<script src="happysensecousins/notifier-listener.js"></script>

<dom-module id="happysense-cousins">

    <template>
        aquí va la tabla comparativa con los primos
    </template>

    <style>
    </style>

    <script>

        const HappysenseCousinsDictionary = {
            es: {
            },
            en: {
            }
        };

        Polymer({
            is: 'happysense-cousins',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                         CottonBehaviors.PushBehavior,
                         CottonBehaviors.TranslatorBehavior,
                         HappysenseCousinsBehaviors.Requester,
                         HappysenseCousinsBehaviors.NotifierListener ],

            properties : {
            },

            attached : function() {
                this.translate(HappysenseCousinsDictionary);
                this.listenToDisplay();
            }

        });
    </script>
</dom-module>