<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-connection-lost.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">

<script src="../../lib/highcharts/highcharts-more.js"></script>
<script src="happysenseevolucion/requester.js"></script>
<script src="happysenseevolucion/notifier-listener.js"></script>

<dom-module id="happysense-evolucion">

    <template>
        <div id="chart" class="chart"></div>
    </template>

    <style>
        :host .highcharts-container {
            width:100% !important;
            height:100% !important;
        }
    </style>

    <script>

        const HappysenseEvolucionDictionary = {
            es: {
                Satisfied: "Feliz",
                NotVerySatisfied: "No muy feliz",
                Dissatisfied: "No feliz",
                Opinions: "opiniones"
            },
            en: {
                Satisfied: "Satisfied",
                NotVerySatisfied: "Not very satisfied",
                Dissatisfied: "Dissatisfied",
                Opinions: "opinions"
            }
        };

        Polymer({
            is: 'happysense-evolucion',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                         CottonBehaviors.PushBehavior,
                         CottonBehaviors.TranslatorBehavior,
                         HappysenseEvolucionBehaviors.Requester,
                         HappysenseEvolucionBehaviors.NotifierListener ],

            properties : {
            },

            attached : function() {
                this.translate(HappysenseEvolucionDictionary);
                this.listenToDisplay();
                this._createChart();
            },

            _refresh : function(label) {
                this._label = label;
                this._refreshChart();
            },

            _createChart : function() {
                this._chart = Highcharts.chart('chart', {
                    chart: {
                        type: 'area'
                    },
                    title: {
                        text: ''
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: {
                        categories: ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo'],
                        tickmarkPlacement: 'on',
                        title: {
                            enabled: false
                        }
                    },
                    yAxis: {
                        title: {
                            text: ''
                        },
                        labels: {
                            formatter: function () {
                                return this.value / 1000;
                            }
                        }
                    },
                    tooltip: {
                        split: true
                    },
                    plotOptions: {
                        area: {
                            stacking: 'normal',
                            lineColor: '#666666',
                            lineWidth: 1,
                            marker: {
                                lineWidth: 1,
                                lineColor: '#666666'
                            }
                        }
                    },
                    series: [{
                        name: 'Feliz',
                        data: this._randomData(),
                        color: '#00ff00'
                    }, {
                        name: 'No muy feliz',
                        data: this._randomData(),
                        color: '#ffc000'
                    }, {
                        name: 'No feliz',
                        data: this._randomData(),
                        color: '#ff0000'
                    }]
                });
            },

            _refreshChart : function() {
                for (var i=0; i<this._chart.series.length; i++)
                    this._chart.series[i].setData(this._randomData());
            },

            _randomData : function() {
                var result = [];
                for (var i=0; i<7; i++)
                    result.push(Math.floor(Math.random() * 6000) + 1);
                return result;
            }

        });
    </script>
</dom-module>