<link rel="import" href="../../../lib/polymer/polymer.html">
<link rel="import" href="../../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../../lib/iron-pages/iron-pages.html">
<link rel="import" href="../../../lib/paper-button/paper-button.html">
<link rel="import" href="../../../lib/cotton-chip/cotton-chip.html">
<link rel="import" href="../../../lib/iron-icons/iron-icons.html">
<link rel="import" href="../../../lib/iron-icons/communication-icons.html">
<link rel="import" href="../../../lib/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="../_common/sumus-chart-selector.html">

<script src="requester.js"></script>
<script src="notifier-listener.js"></script>

<dom-module id="sumus-olap-menu">

    <template>
        <div class="layout vertical">
            <label>[[Chart]]</label>
            <sumus-chart-selector charts="[[_charts]]" tickets="[[_selectedTickets]]" selected="{{_selectedChart}}" on-chart-selected="_onChartSelected"></sumus-chart-selector>
        </div>
    </template>

    <style>
        :host > div {
            margin-bottom: 20px;
        }
        :host label {
            font-size: 11pt;
            color: var(--secondary-text-color);
            margin-bottom: 4px;
        }
    </style>

    <script>

        const SumusOlapMenuDictionary = {
            es: {
                Chart : "vista"
            },
            en: {
                Chart : "chart"
            }
        };

        Polymer({
            is: 'sumus-olap-menu',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                CottonBehaviors.PushBehavior,
                CottonBehaviors.TranslatorBehavior,
                SumusOlapBehaviors.Requester,
                SumusOlapBehaviors.NotifierListener ],

            properties : {
                _charts : Array,
                _selectedChart : String,
                _currentScale: String,
                _selectedTickets: Array,
                _isDrilling : Boolean
            },

            attached : function() {
                this.translate(SumusOlapMenuDictionary);
                this.listenToDisplay();
                this._refresh();
            },

            _ticketList : function(ticketList) {
                this._updateAvailableTickets(ticketList);
            },

            _selectTicketList : function(ticketList) {
                this._updateSelectedTickets(ticketList);
            },

            _chartList : function(charts) {
                this._charts = charts;
            },

            _selectChart : function(chart) {
                this._selectedChart = chart;
            },

            _onChartSelected : function(event) {
                this.selectChart(event.detail);
            },

            _scaleList : function(scaleList) {
            },

            _updateScale : function(timeScale) {
            },

            _olapRange : function(range) {
            },

            _timeRange : function(range) {
            },

            _refreshFilterList : function(filterList) {
            },

            _filtering : function() {
                this._isDrilling = false;
            },

            _notFiltering : function() {
            },

            _enableFilter : function() {
            },

            _disableFilter : function() {
            },

            _drilling : function() {
                this._isDrilling = true;
            },

            _notDrilling : function() {
                this._isDrilling = false;
            },

            _enableDrill : function() {
            },

            _disableDrill : function() {
            },

            _enableAddTicket : function() {
            },

            _disableAddTicket : function() {
            },

            _refresh : function() {
            },

            _refreshDrill : function(drill) {
            },

            _hasTicketSelected: function (selectedTickets) {
                return selectedTickets.length > 0;
            },

            _updateAvailableTickets : function (tickets) {
            },

            _updateSelectedTickets: function (tickets) {
                this._selectedTickets = tickets;
            },

            _export: function (e) {
            },

            _openAnalyzeDialog : function() {
            },

            _closeAnalyzeDialog : function() {
            },

            _openEntityCatalogList : function() {
            },

            _closeEntityCatalogList : function() {
            }

        });
    </script>
</dom-module>
