<link rel="import" href="../../../lib/polymer/polymer.html">
<link rel="import" href="../../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../../lib/cotton-chip/cotton-chip.html">
<link rel="import" href="../../../lib/Sortable/Sortable.html">

<dom-module id="sumus-ticket-list">
    <template>
        <ul class="layout horizontal center center-justified wrap">
            <template is="dom-repeat" items="[[_tickets]]" as="ticket">
                <li>
                    <div class="layout horizontal center center-justified wrap">
                        <div class="ticket">
                            <template is="dom-if" if="[[!drill]]">
                                <span class="box color" style$="background-color:[[ticket.color]]" hidden$="[[_drill]]"></span>
                                <cotton-chip class="ticketChip" ticket="[[ticket.label]]" on-remove-chip="_removeTicket" text="[[ticket.label]]" keep-chip></cotton-chip>
                            </template>
                            <template is="dom-if" if="[[drill]]">
                                <div>[[ticket.label]]: </div>
                            </template>
                        </div>
                        <template is="dom-if" if="[[drill]]">
                            <template is="dom-repeat" items="[[drill.categoryList]]" as="drillCategory">
                                <div class="ticket" style="margin-top:-14px;">
                                    <span class="box color" style$="background-color:[[drillCategory.color]]"></span>
                                    <cotton-chip category="[[drillCategory.name]]" on-remove-chip="_removeDrillCategory" text="[[drillCategory.label]]" keep-chip></cotton-chip>
                                </div>
                            </template>
                        </template>
                    </div>
                </li>
            </template>
        </ul>
    </template>

    <style>
        :host ul {
            margin: 0;
            padding: 0;
        }
        :host ul li {
            display: inline-block;
        }
        :host .ticket {
            position: relative;
            height: 28px;
            display: inline-block;
        }

        :host .box.color { /* color disabled */
            display: none !important;
        }

        :host .ticket:hover .box.color {
            display: none;
        }

        :host .ticket .box.color {
            width: 8px;
            height: 8px;
            border-radius: 2px;
            position: absolute;
            right: 12px;
            top: 11px;
            z-index: 1;
        }

        :host .ticket > div {
            background: transparent;
            color: black;
            font-size: 11pt;
        }

        :host cotton-chip {
            padding-left: 5px;
        }

        :host cotton-chip, :host .ticket > div {
            background: transparent;
            color: black;
            font-size: 11pt;
        }

        :host cotton-chip:hover {
            background: white !important;
            cursor: pointer;
        }

        :host cotton-chip ::content paper-icon-button {
            display: none;
            top: -1px !important;
        }

        :host cotton-chip:hover ::content paper-icon-button {
            display: block;
        }

    </style>

    <script>

        const SumusTicketListDictionary = {
            es: {
            },
            en: {
            }
        };

        Polymer({
            is: 'sumus-ticket-list',

            behaviors: [ CottonBehaviors.TranslatorBehavior ],

            properties: {
                tickets : { type: Array, value: function() { return []; }, observer: '_refreshTickets' },
                _tickets : { type: Array, value: function() { return []; } },
                drill : Object,
                byCategorization : Object,
            },

            attached : function() {
                this.translate(SumusTicketListDictionary);
                this._createSortableList();
            },

            _refreshTickets : function() {
                var tickets = [];
                this.tickets.forEach((ticket) => tickets.push(ticket));
                this._tickets = tickets;
            },

            _createSortableList : function() {
                Sortable.create(this.querySelector('ul'), this._listOptions('single'));
            },

            _listOptions : function(name) {
                var widget = this;
                return {
                    group : {
                        name: name,
                        put: []
                    },
                    onUpdate : function(event) {
                        widget._moveTickets();
                    }
                };
            },

            _removeTicket : function (event) {
                event.preventDefault();
                this.fire("remove-ticket", { ticket: event.target.ticket });
            },

            _moveTickets : function () {
                var tickets = [];
                this.querySelectorAll("li .ticketChip").forEach(function(element) { tickets.push(element.ticket); });
                this.fire("move-tickets", { tickets: tickets });
            },

            _removeDrillCategory : function(event) {
                event.preventDefault();
                this.fire("remove-drill-category", { category : event.target.category });
            }

        });
    </script>

</dom-module>
