<link rel="import" href="../../../lib/polymer/polymer.html">
<link rel="import" href="../../../lib/cotton-chip/cotton-chip.html">
<link rel="import" href="../../../lib/cotton-translator/cotton-translator-behavior.html">

<dom-module id="sumus-filter-list-summary">
    <template>
        <ul class="layout horizontal center center-justified wrap">
            <template is="dom-repeat" items="[[filters]]" as="filter">
                <li>
                    <cotton-chip filter="[[filter.name]]" on-remove-chip="_removeFilter" text="[[_label(filter)]]" keep-chip></cotton-chip>
                </li>
            </template>
        </ul>
    </template>

    <style>
        :host ul {
            margin: -5px 0 0;
            padding: 0;
        }
        :host ul li {
            display: inline-block;
        }
        :host cotton-chip {
            background: transparent;
            font-size: 10pt;
            color: #ec7200;
        }
        :host cotton-chip:hover {
            background: white !important;
            cursor: pointer;
        }
        :host cotton-chip ::content paper-icon-button {
            display: none;
        }
        :host cotton-chip:hover ::content paper-icon-button {
            display: block;
        }
    </style>

    <script>
        const SumusFilterListSummaryDictionary = {
            es: {
                NoNameFilter : "sin nombre"
            },
            en: {
                NoNameFilter : "no name"
            }
        };

        Polymer({
            is: 'sumus-filter-list-summary',

            behaviors: [ CottonBehaviors.TranslatorBehavior ],

            properties: {
                filters : { type: Array, value: function() { return []; } }
            },

            attached : function() {
                this.translate(SumusFilterListSummaryDictionary);
            },

            _removeFilter : function (event) {
                event.preventDefault();
                this.fire("remove-filter", { filter: event.target.filter });
            },

            _label : function(filter) {
                var hasLabel = filter.label != null && filter.label !== "";
                return hasLabel ? filter.label : this.NoNameFilter;
            }

        });
    </script>

</dom-module>
