<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/alexandria-activity-elements/alexandria-menu-layout.html">


<script src="../../lib/alexandria-activity-elements/alexandriamenulayout/requester.js"></script>
<script src="../../lib/alexandria-activity-elements/alexandriamenulayout/notifier-listener.js"></script>

<script src="testcesarmenu/requester.js"></script>
<script src="testcesarmenu/notifier-listener.js"></script>

<dom-module id="test-cesar-menu">

    <template>


    </template>

    <style>
    </style>

    <script>

        const TestCesarMenuDictionary = {
            es: {
            },
            en: {
            }
        };

        Polymer({
            is: 'test-cesar-menu',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                         CottonBehaviors.PushBehavior,
                         CottonBehaviors.TranslatorBehavior
                         ],

            properties : {
            },
			attached : function() {
				this.translate(TestCesarMenuDictionary);
				this._linkWithAlexandriaElement();
			},

			_linkWithAlexandriaElement : function() {
				var element = document.createElement("alexandria-menu-layout");
				element.display = this.display;
				element.behaviors.push(TestCesarMenuBehaviors.Requester);
				element.behaviors.push(TestCesarMenuBehaviors.NotifierListener);
				element.behaviors.push(AlexandriaMenuLayoutBehaviors.Requester);
				element.behaviors.push(AlexandriaMenuLayoutBehaviors.NotifierListener);
				this.appendChild(element);
			}

        });
    </script>
</dom-module>