<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/alexandria-activity-elements/alexandria-catalog.html">


<script src="../../lib/alexandria-activity-elements/alexandriacatalog/requester.js"></script>
<script src="../../lib/alexandria-activity-elements/alexandriacatalog/notifier-listener.js"></script>

<script src="testcesarservercatalog/requester.js"></script>
<script src="testcesarservercatalog/notifier-listener.js"></script>

<dom-module id="test-cesar-server-catalog">

    <template>


    </template>

    <style>
    </style>

    <script>

        const TestCesarServerCatalogDictionary = {
            es: {
            },
            en: {
            }
        };

        Polymer({
            is: 'test-cesar-server-catalog',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                         CottonBehaviors.PushBehavior,
                         CottonBehaviors.TranslatorBehavior
                         ],

            properties : {
            },
			attached : function() {
				this.translate(TestCesarServerCatalogDictionary);
				this._linkWithAlexandriaElement();
			},

			_linkWithAlexandriaElement : function() {
				var element = document.createElement("alexandria-catalog");
				element.display = this.display;
				element.behaviors.push(TestCesarServerCatalogBehaviors.Requester);
				element.behaviors.push(TestCesarServerCatalogBehaviors.NotifierListener);
				element.behaviors.push(AlexandriaCatalogBehaviors.Requester);
				element.behaviors.push(AlexandriaCatalogBehaviors.NotifierListener);
				this.appendChild(element);
			}

        });
    </script>
</dom-module>