<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/alexandria-activity-elements/alexandria-mold.html">


<script src="../../lib/alexandria-activity-elements/alexandriamold/requester.js"></script>
<script src="../../lib/alexandria-activity-elements/alexandriamold/notifier-listener.js"></script>

<script src="testcesardevicegridmold/requester.js"></script>
<script src="testcesardevicegridmold/notifier-listener.js"></script>

<dom-module id="test-cesar-device-grid-mold">

    <template>


    </template>

    <style>
    </style>

    <script>

        const TestCesarDeviceGridMoldDictionary = {
            es: {
            },
            en: {
            }
        };

        Polymer({
            is: 'test-cesar-device-grid-mold',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                         CottonBehaviors.PushBehavior,
                         CottonBehaviors.TranslatorBehavior
                         ],

            properties : {
            },
			attached : function() {
				this.translate(TestCesarDeviceGridMoldDictionary);
				this._linkWithAlexandriaElement();
			},

			_linkWithAlexandriaElement : function() {
				var element = document.createElement("alexandria-mold");
				element.display = this.display;
				element.behaviors.push(TestCesarDeviceGridMoldBehaviors.Requester);
				element.behaviors.push(TestCesarDeviceGridMoldBehaviors.NotifierListener);
				element.behaviors.push(AlexandriaMoldBehaviors.Requester);
				element.behaviors.push(AlexandriaMoldBehaviors.NotifierListener);
				this.appendChild(element);
			}

        });
    </script>
</dom-module>