<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/alexandria-activity-elements/alexandria-panel.html">


<script src="../../lib/alexandria-activity-elements/alexandriapanel/requester.js"></script>
<script src="../../lib/alexandria-activity-elements/alexandriapanel/notifier-listener.js"></script>

<script src="testcesarprojectpanel/requester.js"></script>
<script src="testcesarprojectpanel/notifier-listener.js"></script>

<dom-module id="test-cesar-project-panel">

    <template>


    </template>

    <style>
    </style>

    <script>

        const TestCesarProjectPanelDictionary = {
            es: {
            },
            en: {
            }
        };

        Polymer({
            is: 'test-cesar-project-panel',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                         CottonBehaviors.PushBehavior,
                         CottonBehaviors.TranslatorBehavior
                         ],

            properties : {
            },
			attached : function() {
				this.translate(TestCesarProjectPanelDictionary);
				this._linkWithAlexandriaElement();
			},

			_linkWithAlexandriaElement : function() {
				var element = document.createElement("alexandria-panel");
				element.display = this.display;
				element.behaviors.push(TestCesarProjectPanelBehaviors.Requester);
				element.behaviors.push(TestCesarProjectPanelBehaviors.NotifierListener);
				element.behaviors.push(AlexandriaPanelBehaviors.Requester);
				element.behaviors.push(AlexandriaPanelBehaviors.NotifierListener);
				this.appendChild(element);
			}

        });
    </script>
</dom-module>