<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/alexandria-activity-elements/alexandria-catalog.html">
<link rel="import" href="../../lib/sumus-elements/sumus-olap.html">

<script src="../../lib/alexandria-activity-elements/alexandriacatalog/requester.js"></script>
<script src="../../lib/alexandria-activity-elements/alexandriacatalog/notifier-listener.js"></script>

<script src="testcesardevicecatalog/requester.js"></script>
<script src="testcesardevicecatalog/notifier-listener.js"></script>

<dom-module id="test-cesar-device-catalog">

    <template>


    </template>

    <style>
    </style>

    <script>

        const TestCesarDeviceCatalogDictionary = {
            es: {
            },
            en: {
            }
        };

        Polymer({
            is: 'test-cesar-device-catalog',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                         CottonBehaviors.PushBehavior,
                         CottonBehaviors.TranslatorBehavior
                         ],

            properties : {
            },
			attached : function() {
				this.translate(TestCesarDeviceCatalogDictionary);
				this._linkWithAlexandriaElement();
			},

			_linkWithAlexandriaElement : function() {
				var element = document.createElement("alexandria-catalog");
				element.display = this.display;
				element.behaviors.push(TestCesarDeviceCatalogBehaviors.Requester);
				element.behaviors.push(TestCesarDeviceCatalogBehaviors.NotifierListener);
				element.behaviors.push(AlexandriaCatalogBehaviors.Requester);
				element.behaviors.push(AlexandriaCatalogBehaviors.NotifierListener);
				this.appendChild(element);
			}

        });
    </script>
</dom-module>