<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/alexandria-activity-elements/alexandria-desktop.html">


<script src="../../lib/alexandria-activity-elements/alexandriadesktop/requester.js"></script>
<script src="../../lib/alexandria-activity-elements/alexandriadesktop/notifier-listener.js"></script>

<script src="testcesardesktop/requester.js"></script>
<script src="testcesardesktop/notifier-listener.js"></script>

<dom-module id="test-cesar-desktop">

    <template>


    </template>

    <style>
    </style>

    <script>

        const TestCesarDesktopDictionary = {
            es: {
            },
            en: {
            }
        };

        Polymer({
            is: 'test-cesar-desktop',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                         CottonBehaviors.PushBehavior,
                         CottonBehaviors.TranslatorBehavior
                         ],

            properties : {
            },
			attached : function() {
				this.translate(TestCesarDesktopDictionary);
				this._linkWithAlexandriaElement();
			},

			_linkWithAlexandriaElement : function() {
				var element = document.createElement("alexandria-desktop");
				element.display = this.display;
				element.behaviors.push(TestCesarDesktopBehaviors.Requester);
				element.behaviors.push(TestCesarDesktopBehaviors.NotifierListener);
				element.behaviors.push(AlexandriaDesktopBehaviors.Requester);
				element.behaviors.push(AlexandriaDesktopBehaviors.NotifierListener);
				this.appendChild(element);
			}

        });
    </script>
</dom-module>