<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">




<script src="testcesarhome/requester.js"></script>
<script src="testcesarhome/notifier-listener.js"></script>

<dom-module id="test-cesar-home">

    <template>


    </template>

    <style>
    </style>

    <script>

        const TestCesarHomeDictionary = {
            es: {
            },
            en: {
            }
        };

        Polymer({
            is: 'test-cesar-home',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                         CottonBehaviors.PushBehavior,
                         CottonBehaviors.TranslatorBehavior,
                         TestCesarHomeBehaviors.Requester,
                         TestCesarHomeBehaviors.NotifierListener
                         ],

            properties : {
            },
			attached : function() {
				this.translate(TestCesarHomeDictionary);
				this.listenToDisplay();
			}

        });
    </script>
</dom-module>