<link rel="import" href="../../../lib/polymer/polymer.html">
<link rel="import" href="../../../lib/paper-item/paper-item.html">
<link rel="import" href="../../../lib/iron-collapse/iron-collapse.html">

<dom-module id="sumus-categorization-item">

    <template>
        <paper-item on-tap="_notifyCategorization">[[categorization.label]]</paper-item>
    </template>

    <style>
        :host {
            display: block;
            outline: none;
            cursor: pointer;
            --paper-item-selected: {
                background-color: var(--accent-color);
                color: white;
            };
            --paper-item-focused: {
                background-color: var(--accent-color);
                color: white;
            };
        }

        :host.iron-selected > paper-item {
            background-color: var(--accent-color);
            color: white;
        }

        paper-item {
            font-size: 10pt;
            line-height: 12px;
            min-height: 0;
            padding: 6px 12px;
        }
    </style>

    <script>
        Polymer({
            is: 'sumus-categorization-item',

            properties: {
                categorization: Object
            },

            _notifyCategorization: function () {
                this.fire('categorization-selected', {name: this.categorization.name});
            },

            _toggle: function () {
                this._notifyCategorization();
                this.querySelector('iron-collapse').toggle();
            }
        });
    </script>

</dom-module>
