<link rel="import" href="../../../lib/polymer/polymer.html">
<link rel="import" href="../../../lib/cotton-checkbox/cotton-checkbox.html">
<link rel="import" href="../../../lib/iron-collapse/iron-collapse.html">
<link rel="import" href="sumus-category-panel.html">

<dom-module id="sumus-collapsible-category">
    <template>
        <div class="heading" on-tap="_toggleCollapse">
            <cotton-checkbox on-change="_toggleCategory" on-tap="_preventCollapseToggle">[[category.label]]</cotton-checkbox>
        </div>
        <iron-collapse>
            <div class="content">
                <template is="dom-repeat" items="[[category.categories]]">
                    <sumus-category-panel categorization="[[categorization.subcategorization]]" category="[[item]]"></sumus-category-panel>
                </template>
            </div>
        </iron-collapse>
    </template>

    <style>
        :host {
            display: block;
        }

        .heading {
            cursor: pointer;
            text-align: left;
            outline: none;
        }

        iron-collapse {
            outline: none;
        }

        .content {
            padding: 10px 15px;
            margin-top: 5px;
            border: 1px solid #dedede;
        }
    </style>

    <script>
        Polymer({
            is: 'sumus-collapsible-category',

            properties: {
                categorization: Object,
                category: Object,
                _collapsible: Object
            },

            attached: function () {
                this._collapsible = this.querySelector('iron-collapse');
            },

            unSelect: function () {
                [].slice.call(this.querySelectorAll('sumus-category-panel')).forEach(el => el.unSelect());
            },

            _toggleCategory: function () {
                if (this.categorization) {
                    this.fire('toggle-category', {categorization: this.categorization, category: this.category});
                } else {
                    this.fire('toggle-category', {category: this.category});
                }
            },

            _toggleCollapse: function () {
                this._collapsible.toggle();
            },

            _preventCollapseToggle: function (e) {
                e.stopPropagation();
            }
        });
    </script>

</dom-module>
