<link rel="import" href="../../../lib/polymer/polymer.html">
<link rel="import" href="../../../lib/cotton-checkbox/cotton-checkbox.html">

<dom-module id="sumus-category-panel">
    <template>
        <cotton-checkbox id="check" on-change="_categoryToggle" title="[[category.label]]">[[category.label]]</cotton-checkbox>
    </template>

    <style>
        :host {
            display: block;
            padding: 0 0 4px;
        }

        cotton-checkbox {
            display: block;
            font-size: 9pt;
        }
    </style>

    <script>
        Polymer({
            is: 'sumus-category-panel',

            properties: {
                category: Object
            },

            label : function() {
                return this.category.label;
            },

            select: function () {
                this.$.check.checked = true;
            },

            unSelect: function () {
                this.$.check.checked = false;
            },

            selected: function () {
                return this.$.check.checked;
            },

            enable: function () {
                this.$.check.disabled = false;
            },

            disable: function () {
                this.$.check.disabled = true;
            },

            _categoryToggle: function () {
                this.fire('toggle-category', {category: this.category});
            }
        });
    </script>

</dom-module>
