<style is="shared-styles">
    body.alt-pressed .alt-shortcut::first-letter {
        text-decoration: underline;
    }
</style>

<style is="custom-style">

    @font-face {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 300;
        src: url(test-cesar/fonts/Rubik/rubik-light.ttf);
        src: url('test-cesar/fonts/Rubik/rubik-light.eot?#iefix') format('eot'),
        url('test-cesar/fonts/Rubik/rubik-light.svg#myWebFont') format('svg'),
        url('test-cesar/fonts/Rubik/rubik-light.woff') format('woff'),
        url('test-cesar/fonts/Rubik/rubik-light.ttf') format('truetype');
    }

    :root {
        --dark-primary-color: #499A00;
        --default-primary-color: #388e3c;
        --light-primary-color: #E7E7E7;
        --text-primary-color: #000000;
        --accent-color: #EC7200;
        --primary-background-color: #c5cae9;
        --primary-text-color: #212121;
        --secondary-text-color: #727272;
        --disabled-text-color: #bdbdbd;
        --divider-color: #B6B6B6;
        --footer-background-color: #E7E7E7;
        --paper-font-common-base: {
            font-family: 'Rubik', 'sans-serif', 'Helvetica Neue', Helvetica, Arial;
        };
        --header-background-color: #ffffff;
        --header-text-color: var(--default-primary-color);
        --primary-color: var(--default-primary-color);
        --paper-chip-removebtn-background-color: transparent;

        --paper-button: {
            margin: 0;
            font-size: 10pt;
            text-transform: lowercase;
            background-color: var(--default-primary-color);
            min-width: 0;
            padding: 10px;
            color: #ffffff;
        };
    }

    body {
        font-family: 'Rubik', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        @apply(--layout-fullbleed);
        @apply(--layout-vertical);
    }

    .highcharts-container {
        overflow: visible !important;
    }

    svg {
        overflow: visible;
    }

    /* mobile-small */
    @media all and (min-width: 0) and (max-width: 360px) and (orientation: portrait) { }
    /* mobile-large */
    @media all and (min-width: 361px) and (orientation: portrait) { }
    /* mobile-small-landscape */
    @media all and (min-width: 0) and (max-width: 480px) and (orientation: landscape) { }
    /* mobile-large-landscape */
    @media all and (min-width: 481px) and (orientation: landscape) { }
    /* tablet-small-landscape */
    @media all and (min-width: 600px) and (max-width: 960px) and (orientation: landscape) { }
    /* tablet-large-landscape */
    @media all and (min-width: 961px) and (orientation: landscape) { }
    /* tablet-small */
    @media all and (min-width: 600px) and (orientation: portrait) { }
    /* tablet-large */
    @media all and (min-width: 601px) and (max-width: 840px) and (orientation : portrait) { }
    /* desktop-x-small-landscape */
    @media all and (min-width: 0) and (max-width: 480px) and (orientation: landscape) { }
    /* desktop-x-small */
    @media all and (min-width: 0) and (max-width: 480px) and (max-aspect-ratio: 4/3) { }
    /* desktop-small-landscape */
    @media all and (min-width: 481px) and (max-width: 840px) and (orientation: landscape) { }
    /* desktop-small */
    @media all and (min-width: 481px) and (max-width: 840px) and (max-aspect-ratio: 4/3) { }
    /* desktop-medium-landscape */
    @media all and (min-width: 841px) and (max-width: 1280px) and (orientation: landscape) { }
    /* desktop-medium */
    @media all and (min-width: 841px) and (max-width: 1280px) and (max-aspect-ratio: 4/3) { }
    /* desktop-large */
    @media all and (min-width: 1281px) and (max-width: 1600px) { }
    /* desktop-xlarge */
    @media all and (min-width: 1601px) and (max-width: 1920px) { }

</style>
