<link rel="import" href="../../../lib/polymer/polymer.html">
<link rel="import" href="../../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../../lib/iron-selector/iron-selector.html">
<link rel="import" href="../../../lib/paper-menu/paper-menu.html">
<link rel="import" href="../../../lib/paper-item/paper-item.html">
<link rel="import" href="../../../lib/paper-ripple/paper-ripple.html">
<link rel="import" href="../../../lib/iron-icon/iron-icon.html">
<link rel="import" href="../../../lib/iron-icons/iron-icons.html">
<link rel="import" href="../../../lib/iron-icons/editor-icons.html">
<link rel="import" href="../../../lib/iron-icons/av-icons.html">

<dom-module id="sumus-chart-selector">
    <template>
        <iron-selector selected="[[_selected]]" class="layout horizontal">
            <template is="dom-repeat" items="[[charts]]" as="chart">
                <template is="dom-if" if="[[_isTimeSeriesChart(chart)]]">
                    <paper-item class="chart-type" id="TimeSeriesChart" toggles raised on-tap="_chartSelected">
                        <paper-ripple opacityDecayVelocity="2"></paper-ripple>
                        <iron-icon alt="[[TimeSeriesChart]]" title="[[TimeSeriesChart]]" icon="timeline"></iron-icon>
                    </paper-item>
                </template>
                <template is="dom-if" if="[[_isTimeCrossTable(chart)]]">
                    <paper-item class="chart-type" id="TimeCrossTable" toggles raised on-tap="_chartSelected">
                        <paper-ripple opacityDecayVelocity="2"></paper-ripple>
                        <iron-icon alt="[[TimeCrossTable]]" title="[[TimeCrossTable]]" icon="view-module"></iron-icon>
                    </paper-item>
                </template>
                <template is="dom-if" if="[[_isTimeBarChart(chart)]]">
                    <paper-item class="chart-type" id="TimeBarChart" toggles raised on-tap="_chartSelected">
                        <paper-ripple opacityDecayVelocity="2"></paper-ripple>
                        <iron-icon alt="[[TimeBarChart]]" title="[[TimeBarChart]]" icon="av:equalizer"></iron-icon>
                    </paper-item>
                </template>
                <template is="dom-if" if="[[_isTimeScatterChart(chart)]]">
                    <paper-item class="chart-type" id="TimeScatterChart" toggles raised on-tap="_chartSelected">
                        <paper-ripple opacityDecayVelocity="2"></paper-ripple>
                        <iron-icon alt="[[TimeScatterChart]]" title="[[TimeScatterChart]]" icon="editor:bubble-chart"></iron-icon>
                    </paper-item>
                </template>
            </template>
        </iron-selector>

        <paper-dialog id="chartOptionsDialog" no-overlap horizontal-align="auto" vertical-align="top">
            <paper-menu selected="[[_selectedOption]]" on-iron-select="_onOptionSelected" >
                <template is="dom-repeat" items="[[_options]]" as="option">
                    <paper-item>[[option]]</paper-item>
                </template>
            </paper-menu>
        </paper-dialog>
    </template>

    <style>
        :host {
            display: block;
        }

        :host #TimeSeriesChart {
            max-width: 45px;
            width: auto;
        }

        :host .separator {
            border-right: 1px solid;
            margin-left: 5px;
        }

        :host iron-selector .chart-type  {
            padding: 8px;
            min-height: 18px;
            line-height: 18px;
            margin: 0 3px;
        }

        :host .chart-type {
            padding: 10px;
            margin: 0 2px 5px;
            min-width: 0;
            background-color: var(--default-primary-color);
            color: #fff;
            transition: width 0.5s;
            height: 20px;
            width: 24px;
            min-height: 16px;
            text-align: center;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bolder;
            font-size: 10pt;
            line-height: 18px;
        }

        :host a {
            color: #fff;
            text-decoration: none;
            position: absolute;
            left: 0;
            width: 100%;
            height: calc(100% - 20px);
            top: 5px;
            padding: 5px 0;
        }

        :host .chart-type[disabled] {
            background-color: #bdbdbd;
        }

        :host .chart-type.iron-selected {
            background-color: var(--accent-color);
        }

        paper-ripple {
            color: var(--accent-color);
        }

        :host paper-dialog {
            min-width: 300px;
            min-height: 150px;
            margin: 10px 0 0 78px;
            background: white;
            overflow: auto;
        }

        :host paper-dialog paper-menu {
            background: white;
            margin: 0;
            padding: 1px;
        }

        :host paper-dialog paper-item {
            min-height: 26px;
            cursor: pointer;
            font-size: 10pt;
            padding: 3px 10px;
        }

        :host .options-button ::content iron-icon {
            height: 36px;
        }

        @media screen and (max-width: 736px) {
            :host iron-selector .chart-type {
                padding: 6px;
            }
        }

    </style>

    <script>
        const SumusChartSelectorDictionary = {
            es: {
                TimeSeriesChart: 'series de tiempo',
                TimeCrossTable: 'tabla cruzada',
                TimeScatterChart: 'diagrama de dispersión',
                TimeBarChart: 'gráfica de barras',
                ChartOptions : 'opciones'
            },
            en: {
                TimeSeriesChart: 'time series',
                TimeCrossTable: 'cross table',
                TimeScatterChart: 'scatter chart',
                TimeBarChart: 'bar chart',
                ChartOptions : 'options'
            }
        };

        Polymer({
            is: 'sumus-chart-selector',
            _selectedChart : null,

            behaviors: [ CottonBehaviors.TranslatorBehavior ],

            properties: {
                charts : { type: String, observer: '_refresh' },
                tickets : { type: Array, observer: '_refresh' },
                selected : { type: String, observer: '_refreshSelected' },
                _selected : { type: Number, value: () => { return 0; } },
                _options : { type: Array, value: () => { return []; } },
                selectedOption : { type: String },
                _selectedOption : { type: Number, value: () => { return 0; } },
                _allowCompare : Boolean
            },

            attached : function() {
                this.translate(SumusChartSelectorDictionary);
            },

            _refresh : function () {
                var count = this.tickets != null ? this.tickets.length : 0;
                this._allowCompare = count <= 1;
            },

            _itemOf : function(name) {
                var item = this.querySelector("#" + name);
                return item != null ? item : {};
            },

            _compareOf : function(name) {
                var compare = this.querySelector("#" + name + "Compare");
                return compare != null ? compare : {};
            },

            _refreshSelected : function() {
                if (this.selected == null) return;
                this._selected = this._chartIndexOf(this.selected);
            },

            _chartSelected: function (e) {
                var parent = $(e.target).parents("paper-item");
                var chartName = parent.length > 0 ? parent.get(0).id : e.target.id;
                var index = this._chartIndexOf(chartName);
                if (index == this._selected) return;
                this.fire('chart-selected', { name: chartName, option: this._chartOption(chartName) });
            },

            _chartOption : function (name) {
                var chart = this._chartOf(name);
                if (chart.options.length == 0) return null;
                return chart.options[this._selectedOption];
            },

            _compareSelected : function(e) {
                if (!this._allowCompare) return;
                this.fire('compare-selected');
            },

            _chartOf: function(name) {
                for (var i=0; i<this.charts.length; i++)
                    if (this.charts[i].name == name) return this.charts[i];
                return null;
            },

            _chartIndexOf: function(name) {
                for (var i=0; i<this.charts.length; i++)
                    if (this.charts[i].name == name) return i;
                return 0;
            },

            _isTimeSeriesChart : function(chart) {
                return chart.name == "TimeSeriesChart";
            },

            _isTimeCrossTable : function(chart) {
                return chart.name == "TimeCrossTable";
            },

            _isTimeScatterChart : function(chart) {
                return chart.name == "TimeScatterChart";
            },

            _isTimeBarChart : function(chart) {
                return chart.name == "TimeBarChart";
            },

            _openChartOptionsDialog : function(event) {
                var target = event.target;
                var chart = target.chart;
                this.$.chartOptionsDialog.positionTarget = target;
                this._options = chart.options;
                this.$.chartOptionsDialog.open();
            },

            _closeChartOptionsDialog : function() {
                this.$.chartOptionsDialog.close();
            },

            _onOptionSelected: function (event) {
                var chart = this._chartOf(this.selected);
                var selected = event.detail.item.textContent.trim();
                this._selectedOption = this._optionIndexOf(selected);
                this._closeChartOptionsDialog();
                this.fire('chart-selected', { name: chart.name, option: selected });
            },

            _optionIndexOf : function(key) {
                for (var i=0; i<this._options.length; i++)
                    if (this._options[i] === key)
                        return i;
                return 0;
            }

        });
    </script>

</dom-module>
