<link rel="import" href="../../../lib/polymer/polymer.html">
<link rel="import" href="../../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../../lib/alexandria-activity-elements/_common/alexandria-date-behavior.html">

<dom-module id="sumus-range-viewer">

    <template>
        <div class="range">[[range]]</div>
    </template>

    <style>
        :host .range {
            font-size: 12pt;
            color: #777;
        }
    </style>

    <script>
        const SumusRangeViewerDictionary = {
            es : {
                YearRangeFormat: '::from:: a ::to::',
                QuarterOfYearRangeFormat: '::from:: trimestre de ::fromYear:: al ::to:: trimestre de ::toYear::',
                QuarterOfYearRangeFormatSameYear: '::from:: al ::to:: trimestre de ::year::',
                QuarterOfYearRangeFormatSameQuarter: '::from:: trimestre de ::year::',
                MonthRangeFormat: '::from:: de ::fromYear:: a ::to:: de ::toYear::',
                MonthRangeFormatSameYear: '::from:: a ::to:: de ::year::',
                MonthRangeFormatSameMonth: '::from:: de ::year::',
                WeekRangeFormat: 'semana del ::from:: de ::fromYear:: al ::to:: de ::toYear::',
                WeekRangeFormatSameYear: 'semana del ::from:: al ::to:: de ::year::',
                WeekRangeFormatSameWeek: 'semana ::from:: de ::year::',
                DayRangeFormat: '::from:: al ::to:: de ::month:: de ::year::',
                DayRangeFormatSameYear: '::from:: de ::fromMonth:: al ::to:: de ::toMonth::, ::toYear::',
                DayRangeFormatSameMonth: '::from:: al ::to:: de ::month:: de ::year::',
                DayRangeFormatSameDay: '::from:: de ::month:: de ::year::',
                SixHoursRangeFormat: '::from:: horas del ::fromNumericDay:: a las ::to:: horas del ::toNumericDay::',
                SixHoursRangeFormatSameDay: '::from:: a las ::to:: horas del ::numericDay::',
                SixHoursRangeFormatSameSixHours: '::from:: horas del ::numericDay::',
                HourRangeFormat: '::from:: horas del ::fromNumericDay:: a las ::to:: horas del ::toNumericDay::',
                HourRangeFormatSameDay: '::from:: a las ::to:: horas del ::numericDay::',
                HourRangeFormatSameHour: '::from:: horas del ::numericDay::',
                FifteenMinutesRangeFormat: '::from:: horas del ::fromNumericDay:: a las ::to:: horas del ::toNumericDay::',
                FifteenMinutesRangeFormatSameDay: '::from:: a las ::to:: horas del ::numericDay::',
                FifteenMinutesRangeFormatSameFifteenMinutes: '::from:: horas del ::numericDay::',
                MinuteRangeFormat: 'desde los ::from:: minutos del ::fromNumericDay:: a los ::to:: minutos del ::toNumericDay::',
                MinuteRangeFormatSameHour: 'desde los ::from:: a ::to:: minutos del ::numericDay::',
                MinuteRangeFormatSameMinute: '::from:: minutos del ::numericDay::',
                SecondRangeFormat: 'desde el segundo ::from:: de ::fromNumericDay:: al segundo ::to:: de ::toNumericDay::',
                SecondRangeFormatSameMinute: 'desde el segundo ::from:: al ::to:: de ::numericDay::',
                SecondRangeFormatSameSecond: '::from:: de ::numericDay::'
            },
            en : {
                YearRangeFormat: '::from:: to ::to::',
                QuarterOfYearRangeFormat: '::from:: quarter of ::fromYear:: to ::to:: quarter of ::toYear::',
                QuarterOfYearRangeFormatSameYear: '::from:: to ::to:: quarter of ::year::',
                QuarterOfYearRangeFormatSameQuarter: '::from:: quarter of ::year::',
                MonthRangeFormat: '::from:: of ::fromYear:: to ::to:: of ::toYear::',
                MonthRangeFormatSameYear: '::from:: to ::to:: of ::year::',
                MonthRangeFormatSameMonth: '::from:: of ::year::',
                WeekRangeFormat: 'week from ::from:: of ::fromYear:: to ::to:: of ::toYear::',
                WeekRangeFormatSameYear: 'week from ::from:: to ::to:: of ::year::',
                WeekRangeFormatSameWeek: 'week ::from:: of ::year::',
                DayRangeFormat: '::from:: to ::to:: of ::month::, ::year::',
                DayRangeFormatSameYear: '::from:: of ::fromMonth:: to ::to:: of ::toMonth::, ::toYear::',
                DayRangeFormatSameMonth: '::from:: to ::to:: of ::month::, ::year::',
                DayRangeFormatSameDay: '::from:: of ::month::, ::year::',
                SixHoursRangeFormat: '::from:: hours of ::fromNumericDay:: to ::to:: hours of ::toNumericDay::',
                SixHoursRangeFormatSameDay: '::from:: to ::to:: hours of ::numericDay::',
                SixHoursRangeFormatSameSixHours: '::from:: hours of ::numericDay::',
                HourRangeFormat: '::from:: hours of ::fromNumericDay:: to ::to:: hours of ::toNumericDay::',
                HourRangeFormatSameDay: '::from:: to ::to:: hours of ::numericDay::',
                HourRangeFormatSameHour: '::from:: hours of ::numericDay::',
                FifteenMinutesRangeFormat: '::from:: hours of ::fromNumericDay:: to ::to:: hours of ::toNumericDay::',
                FifteenMinutesRangeFormatSameDay: '::from:: to ::to:: hours of ::numericDay::',
                FifteenMinutesRangeFormatSameFifteenMinutes: '::from:: hours of ::numericDay::',
                MinuteRangeFormat: '::from:: minutes of ::fromNumericDay:: to ::to:: minutes of ::toNumericDay::',
                MinuteRangeFormatSameHour: '::from:: to ::to:: minutes of ::numericDay::',
                MinuteRangeFormatSameMinute: '::from:: minutes of ::numericDay::',
                SecondRangeFormat: 'from second ::from:: of ::fromNumericDay:: to second ::to:: of ::toNumericDay::',
                SecondRangeFormatSameMinute: 'from second ::from:: to ::to:: of ::numericDay::',
                SecondRangeFormatSameSecond: '::from:: of ::numericDay::'
            }
        };

        Polymer({
            is: 'sumus-range-viewer',

            properties: {
                from: { type: Number, observer: '_refresh' },
                to: { type: Number, observer: '_refresh' }
            },

            behaviors: [ CottonBehaviors.TranslatorBehavior, AlexandriaBehaviors.DateBehavior ],

            attached : function () {
                this.translate(SumusRangeViewerDictionary);
                this._refresh();
            },

            setScale : function(scale) {
                this.scale = scale;
                this._refresh();
            },

            _refresh : function() {
                var date = this.from;
                var value = this._formatter();
                var language = this.getLanguage();

                if (value == null) return;
                moment.locale(language);

                value = value.replace('::from::', this.fullDate(this.from, this.scale, language));
                value = value.replace('::to::', this.fullDate(this.to, this.scale, language));
                value = value.replace('::year::', this.yearOf(date, language));
                value = value.replace('::month::', this.monthOf(date, language));
                value = value.replace('::day::', this.dayOf(date, language));
                value = value.replace('::fullDay::', this.fullDayOf(date, language));
                value = value.replace('::numericDay::', this.numericDayOf(date, language));
                value = value.replace('::fromYear::', this.yearOf(this.from, language));
                value = value.replace('::fromMonth::', this.monthOf(this.from, language));
                value = value.replace('::fromDay::', this.dayOf(this.from, language));
                value = value.replace('::fromFullDay::', this.fullDayOf(date, language));
                value = value.replace('::fromNumericDay::', this.numericDayOf(date, language));
                value = value.replace('::toYear::', this.yearOf(this.to, language));
                value = value.replace('::toMonth::', this.monthOf(this.to, language));
                value = value.replace('::toDay::', this.dayOf(this.to, language));
                value = value.replace('::toFullDay::', this.fullDayOf(this.to, language));
                value = value.replace('::toNumericDay::', this.numericDayOf(this.to, language));

                this.querySelector('.range').innerHTML = value;
            },

            _formatter : function() {
                var name = this.scale + 'RangeFormat';
                var from = this.from;
                var to = this.to;

                if (this.scale == 'QuarterOfYear') {
                    if (this._sameQuarter(from, to)) name += "SameQuarter";
                    else if (this._sameYear(from, to)) name += "SameYear";
                }
                else if (this.scale == 'Week') {
                    if (this._sameWeek(from, to)) name += "SameWeek";
                    else if (this._sameYear(from, to)) name += "SameYear";
                }
                else if (this.scale == 'Month') {
                    if (this._sameMonth(from, to)) name += "SameMonth";
                    else if (this._sameYear(from, to)) name += "SameYear";
                }
                else if (this.scale == 'Day') {
                    if (this._sameDay(from, to)) name += "SameDay";
                    else if (this._sameMonth(from, to)) name += "SameMonth";
                    else if (this._sameYear(from, to)) name += "SameYear";
                }
                else if (this.scale == 'SixHours' || this.scale == 'Hour' || this.scale == 'FifteenMinutes') {
                    if (from.getHours() == to.getHours() && from.getDay() == to.getDay()) name += "SameHour";
                    else if (from.getDay() == to.getDay()) name += "SameDay";
                }
                else if (this.scale == 'Minute' || this.scale == 'Second') {
                    if (from.getHours() == to.getHours() && from.getMinutes() == to.getMinutes() && from.getDay() == to.getDay()) name += "SameMinute";
                    else if (from.getDay() == to.getDay()) name += "SameDay";
                }

                return this[name];
            },

            _sameDay : function(from, to) {
                var language = this.getLanguage();
                var fromDay = this.dayOf(from, language);
                var toDay = this.dayOf(to, language);
                return fromDay == toDay && this._sameMonth(from, to);
            },

            _sameWeek : function (from, to) {
                var fromWeek = moment(from).format('W');
                var toWeek = moment(to).format('W');
                return fromWeek == toWeek && this._sameYear(from, to);
            },

            _sameMonth : function(from, to) {
                return from.getMonth() == to.getMonth() && this._sameYear(from, to);
            },

            _sameQuarter : function(from, to) {
                var fromQuarter = moment(from).format('Q');
                var toQuarter = moment(to).format('Q');
                return fromQuarter == toQuarter && this._sameYear(from, to);
            },

            _sameYear : function(from, to) {
                return from.getYear() == to.getYear();
            }

        });
    </script>

</dom-module>
