<link rel="import" href="../../../lib/polymer/polymer.html">
<link rel="import" href="../../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../../lib/paper-input/paper-input.html">

<dom-module id="sumus-range-selector">

    <template>
        <paper-input type="date" label="[[fromLabel]]" value="{{from}}" on-input="_modified"></paper-input>
        <paper-input type="date" label="[[toLabel]]" value="{{to}}" on-input="_modified"></paper-input>
    </template>

    <style>
        paper-input {
            --paper-input-container-underline: {
                background-color: transparent;
            };
            --paper-input-container: {
                padding: 0;
            };
        }

        paper-input ::content input[type=date]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            display: none;
        }
    </style>

    <script>
        const SumusRangeSelectorDictionary = {
            es: {
                fromLabel: 'desde',
                toLabel: 'hasta'
            },
            en: {
                fromLabel: 'from',
                toLabel: 'to'
            }
        };

        Polymer({
            is: 'sumus-range-selector',

            properties: {
                from: Number,
                to: Number
            },

            behaviors: [CottonBehaviors.TranslatorBehavior],

            attached : function () {
                this.translate(SumusRangeSelectorDictionary);
            },

            _modified : function() {
                if (this.delay != null) {
                    window.clearTimeout(this.delay);
                }

                this.delay = window.setTimeout(() => {
                    const range = {from:this.from, to:this.to};
                    this.fire('change', range);
                }, 1000);
            }

        });
    </script>

</dom-module>
