<script src="widgets/_common/color-util.js"></script>

<link rel="import" href="widgets/widgets.html">
<link rel="import" href="components/body-element.html">
<link rel="import" href="components/card-element.html">
