<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/cotton-layout/cotton-layout.html">
<link rel="import" href="../../lib/cotton-curtain/cotton-curtain.html">
<link rel="import" href="../../lib/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-connection-lost.html">
<link rel="import" href="card-element.html">

<dom-module id="body-element">

    <template>
        <cotton-curtain id="curtain" auto-fit-on-attach>
            <card-element logo="[[logo]]" title="[[title]]"></card-element>
        </cotton-curtain>

        <cotton-zombie id="desktopZombie" display="Desktop" widget="Desktop" hidden></cotton-zombie>
    </template>

    <style>
        cotton-curtain {
            width: 50%;
            height: 50%;
        }
    </style>

    <script>
        Polymer({
            is: 'body-element',

            properties : {
                logo: String,
                title: String,
                subtitle: String,
                language: String,
                url: String
            },

            attached : function() {
                this.$.desktopZombie.whenPersonified().execute(this._loaded.bind(this));
            },

            _loaded : function() {
                this.$.curtain.remove();
            }
        });
    </script>
</dom-module>
