<link rel="import" href="../../lib/polymer/polymer.html">

<dom-module id="card-element">

    <template>
        <div><img src="[[logo]]"/></div>
        <div class="space-title">[[title]]</div>
    </template>

    <style>
        :host img {
            margin-top: 15px;
            height: 64px;
        }

        :host ::content .layout.vertical {
            margin-top: 3px;
            margin-left: 10px;
        }

        :host .space-title {
            @apply(--title);
            margin-top: 15px;
            margin-bottom: 15px;
        }
    </style>

    <script>
        Polymer({
            is: 'card-element',

            properties: {
                logo: String,
                title: String
            }
        });
    </script>

</dom-module>
