<link rel="import" href="../../../lib/polymer/polymer.html">
<link rel="import" href="../../../lib/cotton-chart-behavior/cotton-chart-behavior.html">

<script src="../../../lib/vis/dist/vis.js"></script>
<script src="../../../lib/highcharts/highcharts-more.js"></script>
<link href="../../../lib/vis/dist/vis.css" rel="stylesheet" type="text/css" />

<dom-module id="sumus-scatter-chart">

    <template>
        <div id="container" style="height: 100%;"></div>
    </template>

    <style>
        :host .highcharts-container { overflow: visible !important; }
        :host svg { overflow: visible; }
    </style>

    <script>
        const NoRadiusSize = { min: '3%', max: '3%' };
        const RadiusSize = { min: '1%', max: '30%' };

        Polymer({
            is: 'sumus-scatter-chart',

            properties: {
                _percentagePlaces: Number,
                _xAxis : { type: Object, value: function () { return null; } },
                _yAxis : { type: Object, value: function () { return null; } },
                _radius : { type: Object, value: function () { return null; } },
                _color : { type: Object, value: function () { return null; } },
                _minColor : { type: String, value: function() { return '#00FF00'; } },
                _maxColor : { type: String, value: function() { return '#FF0000'; } },
                _categories : { type: Array, value: function () { return []; } }
            },

            behaviors: [ CottonBehaviors.ChartBehavior ],

            attached: function () {
                this.resize();
            },

            _createChart: function () {
                return new Highcharts.Chart({
                    chart: {
                        renderTo: this.$.container,
                        type: 'bubble',
                        plotBorderWidth: 1,
                        zoomType : 'xy',
                        animation: {
                            duration: 1000
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    title: {
                        text: ''
                    },
                    xAxis: {
                        gridLineWidth: 1,
                        title: {
                            enabled: true,
                            text: ''
                        },
                        startOnTick : true,
                        endOnTick : true,
                        showLastLabel : true
                    },
                    yAxis: {
                        startOnTick: false,
                        endOnTick: false,
                        title: {
                            text: ''
                        },
                        maxPadding: 0.2,
                        min: 0
                    },
                    tooltip: {
                        useHTML: true,
                        formatter: function() {
                            const point = this.point;
                            const name = this.point.name;
                            const xVisible = (typeof(this.series.xAxis) == "object");
                            const xTitle = xVisible ? this.series.xAxis.axisTitle.textStr : "x";
                            const yVisible = (typeof(this.series.yAxis) == "object");
                            const yTitle = yVisible ? this.series.yAxis.axisTitle.textStr : "y";
                            const zVisible = (typeof(this.series.zoneAxis) == "object");
                            const zTitle = zVisible ? this.series.zoneAxis.axisTitle.textStr : "z";

                            var result = '<table>';
                            result += '<tr><th colspan="2"><h3>' + name + '</h3></th></tr>';
                            if (xVisible) result += '<tr><th>' + xTitle + '</th><td>' + point.x.toFixed(point.decimalPlaces.x.absolute) + '</td></tr>';
                            if (yVisible) result += '<tr><th>' + yTitle + '</th><td>' + point.y.toFixed(point.decimalPlaces.y.absolute) + '</td></tr>';
                            if (zVisible) result += '<tr><th>' + zTitle + '</th><td>' + point.z.toFixed(point.decimalPlaces.radius.absolute) + '</td></tr>';
                            result += '</table>';

                            return result;
                        }
                    },
                    plotOptions: {
                        bubble: {
                            minSize: '1%',
                            maxSize: '40%'
                        },
                        series: {
                            dataLabels: {
                                enabled: true,
                                format: '{point.name}'
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                });
            },

            setColors: function (minColor, maxColor) {
                this._minColor = minColor;
                this._maxColor = maxColor;
            },

            setCategories: function (categories) {
                this._categories = categories;
            },

            setTickets : function(xAxis, yAxis, radius, color) {
                if (xAxis == null || yAxis == null) return;

                this._updateAxisTitle(this._chart.xAxis[0], xAxis.label);
                this._updateAxisTitle(this._chart.yAxis[0], yAxis.label);
                this._updateSeries(xAxis, yAxis, radius, color);
                this._updateRadiusSize(radius);

                this._xAxis = xAxis;
                this._yAxis = yAxis;
                this._radius = radius;
                this._color = color;
                this._chart.redraw();
            },

            _updateAxisTitle : function(axis, title) {
                axis.update({title : { text : title }});
            },

            _updateRadiusSize : function(radius) {
                let minSize = radius != null ? RadiusSize.min : "8";
                let maxSize = radius != null ? RadiusSize.max : "20%";
                if (this._minSize == minSize && this._maxSize == maxSize) return;
                this._minSize = minSize;
                this._maxSize = maxSize;
                this._chart.series[0].update({ bubble : { minSize: minSize, maxSize: maxSize } });
            },

            _updateSeries: function (xAxis, yAxis, radius, color) {
                var data = this._calculateData(xAxis, yAxis, radius, color);

                if (!this._sameColor(color) || !this._sameRadius(radius))
                    this._removeAllSeries();

                if (this._chart.series[0] != null)
                    this._chart.series[0].setData(data);
                else
                    this._chart.addSeries({ name: 'categories', data : data }, false, false);
            },

            _sameRadius : function(radius) {
                if (this._radius != null && radius == null) return false;
                if (this._radius == null && radius != null) return false;
                if (this._radius == null && radius == null) return true;
                return this._radius.name === radius.name;
            },

            _sameColor : function(color) {
                if (this._color != null && color == null) return false;
                if (this._color == null && color != null) return false;
                if (this._color == null && color == null) return true;
                return this._color.name === color.name;
            },

            _removeAllSeries : function() {
                while (this._chart.series.length > 0)
                    this._chart.series[0].remove(false);
            },

            _calculateData : function(xAxis, yAxis, radius, color) {
                var data = [];
                for (var i=0; i<this._categories.length; i++) {
                    let category = this._categories[i];
                    let xAxisIndicator = xAxis.indicatorList[0];
                    let yAxisIndicator = yAxis.indicatorList[0];

                    const element = {
                        name: category,
                        category: category,
                        x: xAxisIndicator.values[i],
                        y: yAxisIndicator.values[i]
                    };

                    this._addRadius(element, radius, i);
                    this._addColor(element, color, i);
                    this._addDecimalPlaces(element, xAxis, yAxis, radius, color);

                    data.push(element);
                }
                return data;
            },

            _addRadius : function(element, radius, position) {
                element.z = 0;
                if (radius == null) return;
                let radiusIndicator = radius.indicatorList[0];
                element.z = radiusIndicator.values[position];
            },

            _addColor : function(element, color, position) {
                element.color = '#388e3c';
                if (color == null) return;
                let maxValue = color.indicatorList[0].maxValue;
                let value = color.indicatorList[0].values[position];
                let colors = { min: this._minColor, max: this._maxColor };
                element.color = window.SumusColorUtil.color(value, colors, maxValue);
            },

            _addDecimalPlaces : function(element, xAxis, yAxis, radius, color) {
                var defaultDecimalPlaces = { absolute: 0, percentage: 2 };
                element.decimalPlaces = {};
                element.decimalPlaces.x = xAxis != null ? xAxis.indicatorList[0].decimalPlaces : defaultDecimalPlaces;
                element.decimalPlaces.y = yAxis != null ? yAxis.indicatorList[0].decimalPlaces : defaultDecimalPlaces;
                element.decimalPlaces.radius = radius != null ? radius.indicatorList[0].decimalPlaces : defaultDecimalPlaces;
                element.decimalPlaces.color = color != null ? color.indicatorList[0].decimalPlaces : defaultDecimalPlaces;
            }

        });
    </script>

</dom-module>