<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/alexandria-activity-elements/alexandria-desktop.html">
<link rel="import" href="test-menu.html">

<script src="../../lib/alexandria-activity-elements/alexandriadesktop/requester.js"></script>
<script src="../../lib/alexandria-activity-elements/alexandriadesktop/notifier-listener.js"></script>
<script src="testhome/requester.js"></script>
<script src="testhome/notifier-listener.js"></script>

<dom-module id="test-home">

    <script>
        const TestHomeDictionary = {
            es: {
            },
            en: {
            }
        };

        Polymer({
            is: 'test-home',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                CottonBehaviors.PushBehavior,
                CottonBehaviors.TranslatorBehavior ],

            attached : function() {
                this.translate(TestHomeDictionary);
                this._linkWithAlexandriaElement();
            },

            _linkWithAlexandriaElement : function() {
                var element = document.createElement("alexandria-desktop");
                element.display = this.display;
                element.behaviors.push(TestHomeBehaviors.Requester);
                element.behaviors.push(TestHomeBehaviors.NotifierListener);
                element.behaviors.push(AlexandriaDesktopBehaviors.Requester);
                element.behaviors.push(AlexandriaDesktopBehaviors.NotifierListener);
                this.appendChild(element);
            }

        });
    </script>
</dom-module>
