<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/alexandria-activity-elements/alexandria-menu-layout.html">
<link rel="import" href="../../lib/sumus-elements/sumus-name-space.html">

<script src="../../lib/alexandria-activity-elements/alexandriamenulayout/requester.js"></script>
<script src="../../lib/alexandria-activity-elements/alexandriamenulayout/notifier-listener.js"></script>
<script src="testmenu/requester.js"></script>
<script src="testmenu/notifier-listener.js"></script>

<dom-module id="test-menu">

    <script>
        const TestMenuDictionary = {
            es: {
            },
            en: {
            }
        };

        Polymer({
            is: 'test-menu',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                CottonBehaviors.PushBehavior,
                CottonBehaviors.TranslatorBehavior ],

            attached : function() {
                this.translate(TestMenuDictionary);
                this._linkWithAlexandriaElement();
            },

            _linkWithAlexandriaElement : function() {
                var element = document.createElement("alexandria-menu-layout");
                element.display = this.display;
                element.behaviors.push(TestMenuBehaviors.Requester);
                element.behaviors.push(TestMenuBehaviors.NotifierListener);
                element.behaviors.push(AlexandriaMenuLayoutBehaviors.Requester);
                element.behaviors.push(AlexandriaMenuLayoutBehaviors.NotifierListener);
                element.$$("#user-content").innerHTML = "<cotton-zombie display='SumusNameSpaceDisplay' widget='SumusNameSpace'></cotton-zombie>";
                this.appendChild(element);
            }

        });
    </script>
</dom-module>
