<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">

<script src="testinfrastructuremold/requester.js"></script>
<script src="testinfrastructuremold/notifier-listener.js"></script>

<dom-module id="test-infrastructure-mold">

    <template>


    </template>

    <style>
    </style>

    <script>

        const TestInfrastructureMoldDictionary = {
            es: {
            },
            en: {
            }
        };

        Polymer({
            is: 'test-infrastructure-mold',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                         CottonBehaviors.PushBehavior,
                         CottonBehaviors.TranslatorBehavior,
                         TestInfrastructureMoldBehaviors.Requester,
                         TestInfrastructureMoldBehaviors.NotifierListener ],

            properties : {
            },

            attached : function() {
                this.translate(TestInfrastructureMoldDictionary);
                this.listenToDisplay();
            }

        });
    </script>
</dom-module>