<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/alexandria-activity-elements/alexandria-panel.html">
<link rel="import" href="../../lib/sumus-elements/sumus-olap.html">

<script src="testanalisis/requester.js"></script>
<script src="testanalisis/notifier-listener.js"></script>
<script src="../../lib/alexandria-activity-elements/alexandriapanel/requester.js"></script>
<script src="../../lib/alexandria-activity-elements/alexandriapanel/notifier-listener.js"></script>

<dom-module id="test-analisis">

    <script>

        const TestAnalisisDictionary = {
            es: {
            },
            en: {
            }
        };

        Polymer({
            is: 'test-analisis',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                CottonBehaviors.PushBehavior,
                CottonBehaviors.TranslatorBehavior ],

            attached : function() {
                this.translate(TestAnalisisDictionary);
                this._linkWithAlexandriaElement();
            },

            _linkWithAlexandriaElement : function() {
                var element = document.createElement("alexandria-panel");
                element.display = this.display;
                element.behaviors.push(TestAnalisisBehaviors.Requester);
                element.behaviors.push(TestAnalisisBehaviors.NotifierListener);
                element.behaviors.push(AlexandriaPanelBehaviors.Requester);
                element.behaviors.push(AlexandriaPanelBehaviors.NotifierListener);
                this.appendChild(element);
            }

        });
    </script>
</dom-module>