<link rel="import" href="../../../lib/polymer/polymer.html">
<link rel="import" href="../../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../../lib/cotton-checkbox/cotton-checkbox.html">
<link rel="import" href="../../../lib/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../lib/iron-icons/iron-icons.html">
<link rel="import" href="../../../lib/iron-icons/editor-icons.html">
<link rel="import" href="../../../lib/paper-input/paper-input.html">

<dom-module id="sumus-filter-item">

    <template>
        <div class="layout horizontal center">
            <cotton-checkbox id="toggle" on-change="_toggleFilter"></cotton-checkbox>
            <div class="layout flex label" hidden$="[[_editing]]" on-dblclick="_editLabel"><span>[[_label]]</span></div>
            <paper-input id="labelDialog" filter="[[filter]]" class="layout flex label" no-label-float value="[[_label]]" on-change="_saveLabel" on-blur="_closeEdition" hidden$="[[!_editing]]" on-keypress="_handleKeyPress"></paper-input>
            <paper-icon-button class="toolbar-item" filter="[[filter]]" icon="editor:mode-edit" on-tap="_editLabel" hidden$="[[_editing]]"></paper-icon-button>
            <paper-icon-button class="toolbar-item" filter="[[filter]]" icon="clear" on-tap="_removeFilter" hidden$="[[_editing]]"></paper-icon-button>
        </div>
    </template>

    <style>
        :host div.label {
            padding: 6px 0;
        }
        :host paper-input {
            cursor: text;
            --paper-input-container : {
                padding: 0;
            };
            --paper-input-container-input : {
                font-size: 10pt;
                background: white;
                padding-left: 3px;
                border-radius: 2px;
                width: calc(100% - 3px);
            };
        }
        :host paper-input ::content .underline {
            display: none !important;
        }
        :host paper-icon-button {
            display: none;
            cursor: pointer;
            --paper-icon-button : {
                width: 18px;
                height: 18px;
                color: white !important;
                margin-left: 5px;
                padding: 0;
            }
        }
        :host:hover paper-icon-button {
            display: block;
        }
    </style>

    <script>

        const SumusFilterItemDictionary = {
            es: {
                NoNameFilter : "sin nombre"
            },
            en: {
                NoNameFilter : "no name"
            }
        };

        Polymer({
            is: 'sumus-filter-item',
            _notificationDisabled : false,

            behaviors: [ CottonBehaviors.TranslatorBehavior ],

            properties : {
                filter : { type: Object, observer: '_refresh' },
                _label : String,
                _editing : { type: Boolean, value: function() { return false; } }
            },

            attached : function() {
                this.translate(SumusFilterItemDictionary);
                this._refresh();
            },

            markApplied : function(value) {
                this._notificationDisabled = true;
                this.$.toggle.checked = value;
                this._notificationDisabled = false;
            },

            filterName : function() {
                return this.filter.name;
            },

            _refresh : function() {
                var hasLabel = this.filter.label != null && this.filter.label !== "";
                var label = hasLabel ? this.filter.label : this.NoNameFilter;
                this.notifyPath("_label", label);
            },

            _editLabel : function(event) {
                this._editing = true;
                this.$.labelDialog.$.input.select();
            },

            _closeEdition : function() {
                this._editing = false;
            },

            _saveLabel : function(event) {
                this.filter.label = this.$.labelDialog.value;
                this._refresh();
                this.fire("save", { filter: this.filter });
            },

            _handleKeyPress : function(event) {
                if (event.keyCode !== 13) return;
                this._saveLabel();
                this._closeEdition();
            },

            _removeFilter : function(event) {
                this.fire("remove", { filter: this.filter });
            },

            _toggleFilter : function() {
                if (this._notificationDisabled) return;

                if (this.$.toggle.checked)
                    this.fire("apply", { filter: this.filter });
                else
                    this.fire("quit", { filter: this.filter });
            }

        });
    </script>
</dom-module>
