<link rel="import" href="../../../lib/polymer/polymer.html">
<link rel="import" href="../../../lib/cotton-chart-behavior/cotton-chart-behavior.html">

<script src="../../../lib/vis/dist/vis.js"></script>
<link href="../../../lib/vis/dist/vis.css" rel="stylesheet" type="text/css" />

<dom-module id="sumus-bar-chart">

    <template>
        <div id="container" style="height: 100%;"></div>
    </template>

    <style>
        :host .highcharts-container { overflow: visible !important; }
        :host svg { overflow: visible; }
    </style>

    <script>
        Polymer({
            is: 'sumus-bar-chart',

            properties: {
                _percentagePlaces: Number,
                _ticketList : { type: Array, value: function () { return []; } }
            },

            behaviors: [ CottonBehaviors.ChartBehavior ],

            attached: function () {
                this.resize();
            },

            _createChart: function () {
                return new Highcharts.Chart({
                    chart: {
                        renderTo: this.$.container,
                        type: 'column',
                        animation: {
                            duration: 1000
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    title: {
                        text: ''
                    },
                    xAxis: {
                        type: 'datetime',
                        categories: [],
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: ''
                        },
                    },
                    plotOptions: {
                        series: {
                            stacking: 'normal'
                        }
                    },
                    tooltip: {
                        useHTML: true,
                        formatter: function() {

                            function format(value, decimalPlaces) {
                                //return `${value.toFixed(decimalPlaces.absolute)} (${((value * 100) / total).toFixed(decimalPlaces.percentage)}%)`;
                                return `${value.toFixed(decimalPlaces.absolute)}`;
                            }

                            const total = this.series.chart.series.map(series => series.data.filter(point => point.category === this.x)[0].y).reduce((l, r) => l + r);
                            return '<b>' + this.x + '</b><br/>' + this.series.chart.series.map(series => {
                                return `<span style="color: ${series.color}; font-size: 14pt">\u25CF</span>${series.name}: ${format(series.data.filter(point => point.category === this.x)[0].y, series.userOptions.decimalPlaces)}`;
                            }).reduce((l, r) => `${l}<br>${r}`);
                        }
                    },
                    credits: {
                        enabled: false
                    }
                });
            },

            setCategories: function (categories) {
                this._chart.xAxis[0].setCategories(categories);
            },

            setTicketList: function (ticketList) {
                if (!this._sameTickets(ticketList))
                    this._removeAllSeries();

                var offset = 0;
                for (var i=0; i<ticketList.length; i++) {
                    this._addOrUpdateTicket(ticketList[i], offset);
                    offset += ticketList[i].indicatorList.length;
                }

                this._ticketList = ticketList;
                this._chart.redraw();
            },

            _sameTickets : function(ticketList) {
                if (this._ticketList.length != ticketList.length) return false;
                for (var i=0; i<ticketList.length; i++)
                    if (this._ticketList[i] == null || this._ticketList[i].name !== ticketList[i].name)
                        return false;
                return true;
            },

            _removeAllSeries : function() {
                while (this._chart.series.length > 0)
                    this._chart.series[0].remove(false);
            },

            _addOrUpdateTicket: function (ticket, offset) {
                this._percentagePlaces = ticket != null ? ticket.indicatorList[0].decimalPlaces.percentage : 0;
                for (var i=0; i<ticket.indicatorList.length; i++) {
                    let indicator = ticket.indicatorList[i];

                    const element = {
                        name: indicator.label,
                        data: indicator.values,
                        color: indicator.color,
                        stack: ticket.label
                    };

                    element.decimalPlaces = indicator.decimalPlaces;
                    if (this._chart.series[offset+i] != null) {
//                        this._chart.series[offset+i].update({name: element.name});
                        this._chart.series[offset+i].setData(element.data);
                    }
                    else
                        this._chart.addSeries(element, false, false);
                }
            }
        });
    </script>

</dom-module>
