<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/alexandria-activity-elements/alexandria-catalog.html">

<script src="testebarinfrastructure/requester.js"></script>
<script src="testebarinfrastructure/notifier-listener.js"></script>

<dom-module id="test-ebar-infrastructure">

    <script>

        const TestEbarInfrastructureDictionary = {
            es: {
            },
            en: {
            }
        };

        Polymer({
            is: 'test-ebar-infrastructure',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                CottonBehaviors.PushBehavior,
                CottonBehaviors.TranslatorBehavior ],

            attached : function() {
                this.translate(TestEbarInfrastructureDictionary);
                this._linkWithAlexandriaElement();
            },

            _linkWithAlexandriaElement : function() {
                var element = document.createElement("alexandria-catalog");
                element.display = this.display;
                element.behaviors.push(TestEbarInfrastructureBehaviors.Requester);
                element.behaviors.push(TestEbarInfrastructureBehaviors.NotifierListener);
                this.appendChild(element);
            }

        });

    </script>
</dom-module>