<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/alexandria-activity-elements/alexandria-tab-layout.html">
<link rel="import" href="../../lib/sumus-elements/sumus-name-space.html">

<script src="testebartab/requester.js"></script>
<script src="testebartab/notifier-listener.js"></script>

<dom-module id="test-ebar-tab">

    <script>
        const TestEbarTabDictionary = {
            es: {
            },
            en: {
            }
        };

        Polymer({
            is: 'test-ebar-tab',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                CottonBehaviors.PushBehavior,
                CottonBehaviors.TranslatorBehavior ],

            attached : function() {
                this.translate(TestEbarTabDictionary);
                this._linkWithAlexandriaElement();
            },

            _linkWithAlexandriaElement : function() {
                var element = document.createElement("alexandria-tab-layout");
                element.display = this.display;
                element.behaviors.push(TestEbarTabBehaviors.Requester);
                element.behaviors.push(TestEbarTabBehaviors.NotifierListener);
                element.$$("#user-content").innerHTML = "<cotton-zombie display='SumusNameSpaceDisplay' widget='SumusNameSpace'></cotton-zombie>";
                this.appendChild(element);
            }

        });
    </script>
</dom-module>
