<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/alexandria-activity-elements/alexandria-temporal-range-catalog.html">

<script src="testebarsequence/requester.js"></script>
<script src="testebarsequence/notifier-listener.js"></script>

<dom-module id="test-ebar-sequence">

    <script>

        const TestEbarSequenceDictionary = {
            es: {
            },
            en: {
            }
        };

        Polymer({
            is: 'test-ebar-sequence',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                CottonBehaviors.PushBehavior,
                CottonBehaviors.TranslatorBehavior ],

            attached : function() {
                this.translate(TestEbarSequenceDictionary);
                this._linkWithAlexandriaElement();
            },

            _linkWithAlexandriaElement : function() {
                var element = document.createElement("alexandria-temporal-range-catalog");
                element.display = this.display;
                element.behaviors.push(TestEbarSequenceBehaviors.Requester);
                element.behaviors.push(TestEbarSequenceBehaviors.NotifierListener);
                this.appendChild(element);
            }

        });

    </script>
</dom-module>