<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/alexandria-activity-elements/alexandria-desktop.html">
<link rel="import" href="test-ebar-tab.html">

<script src="testebarhome/requester.js"></script>
<script src="testebarhome/notifier-listener.js"></script>

<dom-module id="test-ebar-home">

    <script>
        const TestEbarHomeDictionary = {
            es: {
            },
            en: {
            }
        };

        Polymer({
            is: 'test-ebar-home',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                CottonBehaviors.PushBehavior,
                CottonBehaviors.TranslatorBehavior ],

            attached : function() {
                this.translate(TestEbarHomeDictionary);
                this._linkWithAlexandriaElement();
            },

            _linkWithAlexandriaElement : function() {
                var element = document.createElement("alexandria-desktop");
                element.display = this.display;
                element.behaviors.push(TestEbarHomeBehaviors.Requester);
                element.behaviors.push(TestEbarHomeBehaviors.NotifierListener);
                this.appendChild(element);
            }

        });
    </script>
</dom-module>
