<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/cotton-chart-behavior/cotton-chart-behavior.html">
<link rel="import" href="../../lib/paper-dialog/paper-dialog.html">
<link rel="import" href="../../lib/paper-button/paper-button.html">
<link rel="import" href="../../lib/alexandria-activity-elements/_common/alexandria-item-selector.html">
<link rel="import" href="../../lib/alexandria-activity-elements/alexandria-time-range-navigator.html">

<script src="sumustimeserieschart/requester.js"></script>
<script src="sumustimeserieschart/notifier-listener.js"></script>
<script src="sumustimeserieschart/SumusNavigationHandler.js"></script>
<script src="sumustimeserieschart/SumusHighchartsFormatter.js"></script>
<script src="sumustimeserieschart/SumusDateFormatter.js"></script>
<script src="../../lib/cotton-delay-executor/DelayExecutor.js"></script>

<dom-module id="sumus-time-series-chart">

    <template>
        <div id="container"
             on-mousedown="_onMouseDown"
             on-mouseup="_onMouseUp"
             on-mouseleave="_onMouseLeave" hidden$="[[_noTickets]]"></div>
        <cotton-zombie id="navigatorZombie" display="AlexandriaTimeRangeNavigator" widget="AlexandriaTimeRangeNavigator"></cotton-zombie>
        <div id="empty" hidden$="[[!empty]]" style="width:100%;text-align:center;">[[NoDataMessage]]</div>
        <cotton-checklist title="[[DesignChart]]" list="{{_checkList}}" checked-list="{{_checkedList}}" hidden$="[[!_noTickets]]" on-tap="showDialog"></cotton-checklist>
        <div id="leftDiv"></div>
        <div id="rightDiv"></div>
        <paper-dialog id="catalogsDialog" no-overlap>
            <h2>[[Catalog]]</h2>
            <div>[[SelectCatalog]]</div>
            <alexandria-item-selector id="catalogsSelector" no-label label="[[Catalog]]" items="[[_catalogs]]" selected="{{_catalog}}" on-item-selected="_selectCatalogInstant"></alexandria-item-selector>
        </paper-dialog>
    </template>

    <style>
        :host {
            display: block;
            position: relative;
        }

        :host cotton-checklist {
            margin-top: 30px;
            margin-left: 30px;
            @apply(--layout-horizontal);
        }

        div#container {
            cursor: move;
            width:100%;
            margin: 0 auto;
        }

        div:not(#container) {
            position: absolute;
            background-color: transparent;
            top: 0;
        }

        div#leftDiv {
            left: 0;
        }

        div#rightDiv {
            right: 0;
        }

        :host paper-dialog {
            background: white;
            padding: 10px;
        }
        :host paper-dialog h2 {
            margin-top: 10px;
        }
        :host paper-dialog div {
            margin: 0 0 10px;
            color: #888;
            position: relative !important;
        }
        :host paper-dialog alexandria-item-selector {
            display: block;
            margin: 0 0 10px;
            max-height: 300px;
            border: 0;
            overflow: auto;
        }

    </style>

    <script>

        const SumusTimeSeriesChartDictionary = {
            es: {
                DesignChart : "diseñe su gráfica",
                NoTickets : "seleccione al menos un indicador",
                NoDataMessage : "no hay datos",
                Catalog : "catálogo",
                SelectCatalog : "indique el catálogo al que ir para ver los datos de ese instante"
            },
            en: {
                DesignChart : "design your chart",
                NoTickets : "select at least one indicator",
                NoDataMessage : "no data",
                Catalog : "catalog",
                SelectCatalog : "select catalog to navigate for that instant"
            }
        };

        Polymer({
            is: 'sumus-time-series-chart',
            moveOffset : 0,

            behaviors: [ CottonBehaviors.CarrierBehavior,
                CottonBehaviors.PushBehavior,
                CottonBehaviors.TranslatorBehavior,
                CottonBehaviors.ChartBehavior,
                SumusTimeSeriesChartBehaviors.Requester,
                SumusTimeSeriesChartBehaviors.NotifierListener ],

            properties : {
                handler: {
                    type: Object,
                    value: () => sumusNavigationHandler()
                },
                _metrics: {
                    type: Object,
                    value: () => []
                },
                _decimalPlaces: {
                    type: Object,
                    value: () => []
                },
                _seriesWithPercentage: {
                    type: Array,
                    value: () => []
                },
                rangeNotifier: {
                    type: Object,
                    value: () => delayExecutor(200)
                },
                instantFormatter: Object,
                _currentScale: String,
                _startOfDragging: Number,
                _axesGroup: Object,
                _checkList : Array,
                _checkedList : Array,
                _noTickets : { type: Boolean, value: function() { return true; }, observer: '_refreshCheckedList' },
                _catalogs : Array,
                _catalog : String,
                _catalogInstant : Object
            },

            attached : function() {
                this.translate(SumusTimeSeriesChartDictionary);
                this.listenToDisplay();
                this.$.navigatorZombie.whenPersonified().execute((w) => this._hideNavigator());
                this.$.container.addEventListener('mousewheel', e => this._onMouseWheel(e));
                this.$.container.addEventListener('DOMMouseScroll', e => this._onMouseWheel(e));
                this._configureCheckList();
                this.empty = false;
                this.resize();
            },

            _configureCheckList : function() {
                this._checkList = [ this.NoTickets ];
            },

            _refreshCheckedList : function() {
                this._checkedList = [ !this._noTickets ];
            },

            ready: function () {
                this._clear();
            },

            resize: function () {
                if (this._chart == null) return;
                this.$.container.style.height = ($(this).height() - 50) + "px";
                this._chart.reflow();
                this._placeNavigator(this._chart.xAxis[0]);
                this.$.leftDiv.style.width = (this._chart.xAxis[0].left - 5) + 'px';
                this.$.leftDiv.style.height = this.$.container.offsetHeight + 'px';
                this.$.rightDiv.style.width = (this._chart.xAxis[0].right - 5) + 'px';
                this.$.rightDiv.style.height = this.$.container.offsetHeight + 'px';
                this.$.empty.style.marginTop = ((this.$.container.offsetHeight / 2) - 20) + 'px';
                this._chart.reflow();
            },

            colorOf : function(indicatorLabel) {
                var series = this._chart != null ? this._chart.xAxis[0].series : [];
                for (var i=0; i<series.length; i++)
                    if (series[i].name.indexOf(indicatorLabel) != -1)
                        return series[i].color;
                return null;
            },

            _placeNavigator: function (reference) {
                var navigator = this._navigator();
                navigator.style.width = reference.width + 'px';
                navigator.style.marginLeft = reference.left + 'px';
            },

            _showNavigator: function () {
                this._navigator().style.display = "block";
            },

            _hideNavigator: function () {
                this._navigator().style.display = "none";
            },

            _navigator: function () {
                var navigatorWidget = this.querySelector('alexandria-time-range-navigator');
                return navigatorWidget != null ? navigatorWidget : { style: {} };
            },

            _onMouseWheel: function (e) {
                e.preventDefault();

                this._clearDelay();
                const range = this.handler.calculateRange(e, this._chart.xAxis[0]);
                if (range == null)
                    return;

                if (this.lastRange != null && range.from == this.lastRange.from && range.to == this.lastRange.to)
                    return;

                this._chart.xAxis[0].setExtremes(range.from, range.to);

                var widget = this;
                this.delay = window.setTimeout(function() {
                    widget.updateRangeAndScale(range);
                }, 500);
            },

            _onMouseDown: function(event) {
                this._startOfDragging = true;

                if (this.moveTimeout != null)
                    window.clearTimeout(this.moveTimeout);

                this.startMin = this._chart.xAxis[0].getExtremes().userMin;
            },

            _onMouseUp: function (event) {
                if (!this._startOfDragging) return;
                var min = this._chart.xAxis[0].getExtremes().userMin;
                var moveOffset = Math.floor(Math.abs(this.startMin-min));

                this.moveOffset += moveOffset;
                this.moveTimeout = window.setTimeout(() => {
                    if (this.startMin > min)
                        this.moveLeft(this.moveOffset);
                    else
                        this.moveRight(this.moveOffset);
                    this.moveOffset = 0;
                    this._startOfDragging = false;
                }, 500);

            },

            _onMouseLeave: function () {
                this._startOfDragging = false;
            },

            _createChart: function () {
                const metrics = this._metrics;
                const decimalPlaces = this._decimalPlaces;
                const seriesWithPercentage = this._seriesWithPercentage;
                return new Highcharts.StockChart(SumusHighchartsFormatter.stockChart({
                    container: this.$.container,
                    formatInstant: created => this.instantFormatter.formatter(this._currentScale).format(created),
                    onClick: this._showCatalogsDialog.bind(this),
                    onMouseOver: this.handler.focus,
                    metric: series => metrics[series],
                    decimalPlaces: series => decimalPlaces[series],
                    shouldDisplayPercentage: series => seriesWithPercentage.indexOf(series) >= 0
                }));
            },

            _refreshCatalogList : function(catalogList) {
                this._catalogs = catalogList;
            },

            _showCatalogsDialog : function(instant) {
                if (this._catalogs.length == 0) return;
                this._catalogInstant = instant;

                if (this._catalogs.length > 1) {
                    this.$.catalogsSelector.unCheckAll();
                    this.$.catalogsDialog.open();
                    return;
                }

                this._selectCatalogInstant({ detail: this._catalogs[0].label });
            },

            _selectCatalogInstant : function(e) {
                this.$.catalogsDialog.close();
                this.selectCatalogInstant({ catalog: e.detail, value: this._catalogInstant });
            },

            _olapRange : function(range) {
                this._range = range;
            },

            _timeRange : function(timeRange) {
                this._chart.xAxis[0].setExtremes(timeRange.min, timeRange.max);
            },

            _formats : function(formatterList) {
                this.instantFormatter = sumusDateFormatter(formatterList);
            },

            _clear: function () {
                this._removeAllSeries();
                this._removeAllYAxis();
                this._chart.colorCounter = 0;
                this._axesGroup = {};
            },

            _addSeries: function(serieList) {
                var series = serieList;
                this.empty = series.length == 0;
                series.forEach(serie => {
                    this._metrics[serie.label] = serie.metric;
                    this._decimalPlaces[serie.label] = serie.decimalPlaces;
                    if (serie.style === 'absolute' || serie.style === 'percentage') {
                        this._seriesWithPercentage.push(serie.label);
                    }
                });
                this._createYAxis(series);
                series.map(serie => SumusHighchartsFormatter.series({indicator: serie, axis: this._axesGroup.hasOwnProperty(serie.group) ? this._axesGroup[serie.group] : serie.label}))
                    .forEach(series => this._chart.addSeries(series, false, false));
                this._chart.redraw();
                this._showNavigator();
                this._placeNavigator(this._chart.xAxis[0]);
                this.resize();
            },

            _removeSeries: function(nameList) {
                var seriesNames = nameList;
                seriesNames.map(this._findSeriesByName.bind(this)).forEach(series => { if (series != null) series.remove(true); });
                seriesNames.forEach(name => {
                    if (this._chart.get(name)) {
                        this._chart.get(name).remove(true);
                    }
                    Object.keys(this._axesGroup).filter(key => this._axesGroup[key].indexOf(name) >= 0).forEach(key => delete this._axesGroup[key]);
                    delete this._axesGroup[name];
                });
                if (this._chart.series.length === 0) {
                    this._chart.colorCounter = 0;
                }
                this._placeNavigator(this._chart.xAxis[0]);
            },

            _removeAllSeries: function () {
                while (this._chart.series.length > 0) {
                    this._chart.series[0].remove(false);
                }
                this._chart.redraw();
            },

            _removeAllYAxis: function () {
                while (this._chart.yAxis.length > 0) {
                    this._chart.yAxis[0].remove(true);
                }
            },

            _addPoints : function(points) {
                var timeScale = points.scale;
                var seriesIndex = points.serieList;

                if (timeScale.name !== this._currentScale) {
                    return;
                }
                //const range = {min: this._chart.xAxis[0].min, max: this._chart.xAxis[0].max};
                seriesIndex.forEach(serie => {
                    const series = this._findSeriesByName(serie.label);
                    if (series) {
                        SumusHighchartsFormatter.addPoints(series, serie.group, serie.dataList);
                    }
                });
                this._chart.redraw();
                //this._chart.xAxis[0].setExtremes(range.min, range.max);
            },

            _refreshTicketCount : function(count) {
                this._ticketCount = count;
                this._refresh();
            },

            _refresh : function() {
                this._noTickets = this._ticketCount <= 0;

                var rangeNavigator = this.querySelector("alexandria-time-range-navigator");
                if (rangeNavigator != null) rangeNavigator.hidden = this._noTickets;
            },

            _refreshEventList : function() {
                this._addEvents(eventList);
            },

            _refreshEventListCount : function(count) {
                this.empty = count == 0;
            },

            _updateScale : function(scale) {
                this._currentScale = scale.name;
            },

            _refreshRange: function (range) {
                this._clearDelay();

                if (this.lastRange != null && range.from == this.lastRange.from && range.to == this.lastRange.to)
                    return;

                this._chart.xAxis[0].setExtremes(range.from, range.to);
            },

            _clearDelay : function() {
                if (this.delay == null) return;
                window.clearTimeout(this.delay);
            },

            _addEvents: function (events) {
                if (events.length === 0) {
                    return;
                }
                events.push({ created: this._range.max });
                if (!this._chart.get('_eventsAxis')) {
                    this._chart.addAxis({
                        id: '_eventsAxis',
                        lineWidth: 2,
                        opposite: true,
                        title: {
                            text: ' '
                        }
                    });
                }
                if (!this._chart.get('flags-serie')) {
                    this._chart.addSeries({
                        id: '_eventsSeries',
                        name: '_eventsSeries',
                        lineWidth: 1,
                        legend: { enabled: false},
                        tooltip: { enabled: false },
                        min: this._range.min,
                        max: this._range.max
                    }, false, false);
                }
                var flagsSerie = this._chart.get("_eventsSeries");
                events.forEach(event => { flagsSerie.addPoint({ x: event.created, y: 0}, false, false, false) });
                this._chart.addSeries({
                    type: 'flags',
                    title: {
                        text: ' '
                    },
                    data: events.map(event => {
                        return { x: event.created, title: !event.label ? ' ' : event.label, text: !event.render ? ' ' : event.render };
                    }),
                    shape : `url(${events[0].icon})`,
                    y: -16,
                    stackDistance: 30
                }, true, true);
                this._chart.redraw();
                this._placeNavigator(this._chart.xAxis[0]);
            },

            _createYAxis: function (series) {
                series.forEach(serie => {
                    if (!this._axisExistsFor(serie)) {
                        this._addNewAxis(serie);
                        if (serie.group) {
                            this._axesGroup[serie.group] = serie.label;
                        }
                    }
                });
            },

            _axisExistsFor: function (serie) {
                return this._axesGroup.hasOwnProperty(serie.group);
            },

            _addNewAxis: function (serie) {
                var axis = {
                    id: serie.label,
                    title: {
                        text: serie.group ? serie.group + this._getMeasureWithParenthesis(serie.label) : serie.label + this._getMeasureWithParenthesis(serie.label),
                        style: {
                            color: serie.color // axisColor
                        }
                    },
                    labels : {
                        format: '{value:.2f}',
                        style: {
                            color: serie.color // axisColor
                        }
                    },
                    min: serie.min,
                    lineWidth: 2,
                    opposite: this._chart.yAxis.length % 2 !== 0
                };

                if (serie.max != 0)
                    axis.max = serie.max;

                this._chart.addAxis(axis);
            },

            _getMeasureWithParenthesis: function (seriesName) {
                if (!this._metrics[seriesName]) {
                    return '';
                }
                return ' (' + this._metrics[seriesName] + ')';
            },

            _findSeriesByName: function (name) {
                return this._chart.series.filter(series => series.name === name)[0];
            },

            _findMin: function(data) {
                return Math.min.apply(null, data.map(point => point.value));
            },

            _findMax: function(data) {
                return Math.max.apply(null, data.map(point => point.value));
            },

            _loading : function() {
                this.fire("loading");
            },

            _loaded : function() {
                this.fire("loaded");
            }

        });
    </script>

</dom-module>