<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../lib/alexandria-activity-elements/_common/alexandria-item-selector-button.html">
<link rel="import" href="sumus-categorization.html">

<script src="sumusfilter/requester.js"></script>
<script src="sumusfilter/notifier-listener.js"></script>

<dom-module id="sumus-filter">

    <template>
        <ul class="conditions">
            <template is="dom-repeat" items="{{_categorizations}}" as="categorization">
                <li class$="panel categorization [[categorization.name]]">
                    <paper-icon-button icon="close" categorization="[[categorization.label]]" on-tap="_closeCategorization"></paper-icon-button>
                    <cotton-zombie display="SumusCategorization" widget="SumusCategorization" object="[[categorization.name]]"></cotton-zombie>
                </li>
            </template>
            <template is="dom-repeat" items="{{_temporalCategorizations}}" as="categorization">
                <li class$="panel categorization [[categorization.name]]" hidden="[[_temporalCategorizationsHidden]]">
                    <paper-icon-button icon="close" categorization="[[categorization.label]]" on-tap="_closeCategorization"></paper-icon-button>
                    <cotton-zombie display="SumusCategorization" widget="SumusCategorization" object="[[categorization.name]]"></cotton-zombie>
                </li>
            </template>
            <li class="panel _add layout horizontal center" hidden$="[[!_addPanelVisible]]">
                <div class="layout vertical center">
                    <div>[[_addCondition]]</div>
                    <alexandria-item-selector-button label="+" items="[[_addCategorizations]]" on-item-selected="_addCategorization" wrap></alexandria-item-selector-button>
                </div>
            </li>
        </ul>
    </template>

    <style>
        :host .conditions {
            @apply(--layout-horizontal);
            overflow-y: hidden;
        }
        :host ul {
            padding: 0;
            margin: 0;
            height: 100%;
            overflow-x: auto;
        }
        :host li {
            position: relative;
            display: inline-block;
            padding: 10px;
            height: calc(100% - 20px);
        }
        :host li.categorization {
            display: none;
            width: 200px;
            border-right: 1px solid #ddd;
        }
        :host li._add {
            background: #eee;
            border-right: 1px solid #ddd;
        }
        :host li paper-icon-button {
            position: absolute;
            top: 0;
            right: 0;
            width: 35px;
        }
        :host alexandria-item-selector-button {
            --alexandria-item-selector-panel : {
                left: 50px !important;
                top: -100px !important;
            };
        }
    </style>

    <script>

        const SumusFilterDictionary = {
            es: {
                ConditionsEmpty : "",
                NewCondition : ""
            },
            en: {
                ConditionsEmpty : "",
                NewCondition : ""
            }
        };

        Polymer({
            is: 'sumus-filter',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                         CottonBehaviors.PushBehavior,
                         CottonBehaviors.TranslatorBehavior,
                         SumusFilterBehaviors.Requester,
                         SumusFilterBehaviors.NotifierListener ],

            properties : {
                _filter: Object,
                _categorizations: { type: Array, value: function() { return []; } },
                _temporalCategorizations: { type: Array, value: function() { return []; } },
                _addCategorizations: { type: Array, value: function() { return []; } },
                _addPanelVisible: Boolean,
                _temporalCategorizationsHidden : Boolean
            },

            attached : function() {
                this.translate(SumusFilterDictionary);
                this.listenToDisplay();
                this._refresh();
                this._refreshAddPanel();
            },

            _refresh : function() {
                this._refreshPanelsVisibility();
            },

            _refreshPanelsVisibility : function() {
                var categorizations = this._allCategorizations();
                for (var i=0; i<categorizations.length; i++) {
                    var name = categorizations[i].name;
                    if (this._isFilteringByCategorization(categorizations[i]))
                        this._showCategorizationPanel(name);
                    else
                        this._hideCategorizationPanel(name);
                }
            },

            _refreshAddPanel : function() {
                this._addCondition = this._addCategorizations.length == this._allCategorizations().length ? this.ConditionsEmpty : this.NewCondition;
                this._addPanelVisible = this._addCategorizations.length > 0 && this._filter != null;
            },

            _isFilteringByCategorization : function(categorization) {
                if (this._filter == null) return false;
                var categorizationList = this._filter.filterCategorizationList;
                for (var i=0; i<categorizationList.length; i++)
                    if (categorizationList[i].name == categorization.name && categorizationList[i].categories.length > 0)
                        return true;
                return false;
            },

            _refreshFilter : function(filter) {
                this._filter = filter;
                this._refresh();
            },

            _refreshCategorizationList : function(categorizationList) {
                this._categorizations = categorizationList;
                this._addCategorizations = categorizationList;
            },

            _refreshTemporalCategorizationList : function(categorizationList) {
                this._temporalCategorizations = categorizationList;
                this._updateAddCategorizations();
            },

            _showTemporalCategorizations : function() {
                this._temporalCategorizationsHidden = false;
                this._updateAddCategorizations();
            },

            _hideTemporalCategorizations : function() {
                this._temporalCategorizationsHidden = true;
                this._updateAddCategorizations();
            },

            _allCategorizations : function() {
                return this._categorizations.concat(this._temporalCategorizations);
            },

            _addCategorization : function(event) {
                var categorization = this._categorizationOf(event.detail);
                this.addCategorization(categorization.name);
                this._openCategorization(event);
            },

            _openCategorization : function(event) {
                var categorization = this._categorizationOf(event.detail);
                this._showCategorizationPanel(categorization.name);
            },

            _closeCategorization : function (event) {
                var label = event.target.categorization != null ? event.target.categorization : $(event.target).parents("paper-icon-button").get(0).categorization;
                var name = this._categorizationOf(label).name;
                this.removeCategorization(name);
            },

            _getCategorizationPanel : function(categorization) {
                return this.querySelector("li." + categorization);
            },

            _getCategorizationWidget : function(categorization) {
                return this.querySelector("li." + categorization + " sumus-categorization-filter");
            },

            _isCategorizationPanelVisible : function(categorization) {
                var panel = this._getCategorizationPanel(categorization);
                if (panel == null) return false;
                return panel.style.display === "inline-block";
            },

            _showCategorizationPanel : function(categorization) {
                var panel = this._getCategorizationPanel(categorization);
                if (panel == null) return;
                panel.style.display = "inline-block";
                this._updateAddCategorizations();
            },

            _hideCategorizationPanel : function(label) {
                var panel = this._getCategorizationPanel(label);
                if (panel == null) return;
                panel.style.display = "none";
                this._updateAddCategorizations();
            },

            _categorizationOf : function(label) {
                var categorizations = this._allCategorizations();
                for (var i=0; i<categorizations.length; i++)
                    if (categorizations[i].label === label)
                        return categorizations[i];
                return null;
            },

            _updateAddCategorizations : function() {
                var addCategorizations = [];

                for (var i=0; i<this._categorizations.length; i++) {
                    var categorization = this._categorizations[i];
                    if (this._isCategorizationPanelVisible(categorization.name))
                        continue;
                    addCategorizations.push(categorization);
                }

                if (!this._temporalCategorizationsHidden)
                    for (var i=0; i<this._temporalCategorizations.length; i++)
                        addCategorizations.push(this._temporalCategorizations[i]);

                this._addCategorizations = addCategorizations;
                this._refreshAddPanel();
            }

        });
    </script>
</dom-module>