<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/cotton-checklist/cotton-checklist.html">
<link rel="import" href="../../lib/Sortable/Sortable.html">
<link rel="import" href="../../lib/paper-swatch-picker/paper-swatch-picker.html">
<link rel="import" href="../../lib/alexandria-activity-elements/_common/alexandria-item-selector-combo.html">
<link rel="import" href="../../lib/alexandria-activity-elements/_common/alexandria-scale-selector.html">
<link rel="import" href="../../lib/alexandria-activity-elements/alexandriatimenavigator/alexandria-pocket-time-navigator.html">

<script src="sumustimecrosstable/sumus-time-cross-table-generator.js"></script>
<script src="sumustimecrosstable/requester.js"></script>
<script src="sumustimecrosstable/notifier-listener.js"></script>

<dom-module id="sumus-time-cross-table">

    <template>
        <div class="data">
            <cotton-checklist title="[[DesignChart]]" list="{{_checkList}}" checked-list="{{_checkedList}}" hidden$="[[!_noQuery]]" on-tap="showDialog"></cotton-checklist>
            <div class="message" hidden$="[[!_isLoading]]"><div>[[Loading]]</div></div>
            <div class="message" hidden$="[[!_noData]]"><div>[[NoData]]</div></div>
            <div class="values" hidden$="[[_noData]]"></div>
        </div>
        <div class="navigator"><cotton-zombie display="AlexandriaTimeNavigator" widget="AlexandriaTimeNavigator"></cotton-zombie></div>
    </template>

    <style>
        :host .data {
            margin: 10px;
            width: calc(100% - 20px);
            height: calc(100% - 80px);
            min-height: calc(100% - 80px);
            overflow: auto;
        }
        :host .data .message {
            height: 100%;
            font-size: 15pt;
            @apply(--layout-horizontal);
            @apply(--layout-center);
            @apply(--layout-center-justified);
        }
        :host .data cotton-checklist {
            margin-top: 20px;
            margin-left: 20px;
            @apply(--layout-horizontal);
        }
        :host .data .values {
            height: 100%;
        }
        :host .navigator {
            margin: 0 10px;
            width: calc(100% - 20px);
        }
    </style>

    <script>

        const SumusTimeCrossTableDictionary = {
            es: {
                DesignChart : "diseñe su gráfica",
                TooManyTickets : "seleccione un solo indicador",
                NoRows : "seleccione una o varias filas",
                NoCols : "seleccione una o varias columnas",
                NoData : "no hay datos",
                Loading : "cargando datos..."
            },
            en: {
                DesignChart : "design your chart",
                TooManyTickets : "select only one indicator",
                NoRows : "select one or more rows",
                NoCols : "select one or more columns",
                NoData : "no data",
                Loading : "loading data..."
            }
        };

        Polymer({
            is: 'sumus-time-cross-table',
            _dataEmpty : true,
            _data : null,
            _ticketCount : 0,

            behaviors: [ CottonBehaviors.CarrierBehavior,
                CottonBehaviors.PushBehavior,
                CottonBehaviors.TranslatorBehavior,
                SumusTimeCrossTableBehaviors.Requester,
                SumusTimeCrossTableBehaviors.NotifierListener ],

            properties : {
                _noData : { type: Boolean, value: function() { return true; } },
                _tooManyTickets : { type: Boolean, value: function() { return true; }, observer: '_refreshCheckedList' },
                _noRows : { type: Boolean, value: function() { return true; }, observer: '_refreshCheckedList' },
                _noCols : { type: Boolean, value: function() { return true; }, observer: '_refreshCheckedList' },
                _noQuery : { type: Boolean, value: function() { return true; } },
                _isLoading : { type: Boolean, value: function() { return false; } },
                _checkList : Array,
                _checkedList : Array
            },

            attached : function() {
                this.translate(SumusTimeCrossTableDictionary);
                this.listenToDisplay();
                this._refresh();
                this._configureCheckList();
            },

            resize : function() {
            },

            _configureCheckList : function() {
                this._checkList = [ this.TooManyTickets, this.NoRows, this.NoCols ];
            },

            _refreshCheckedList : function() {
                this._checkedList = [ !this._tooManyTickets, !this._noRows, !this._noCols ];
            },

            _refreshTicketCount : function(count) {
                this._ticketCount = count;
                this._refresh();
            },

            _refresh : function () {
                let noCols = this._data == null || this._data.columnList.length == 0;
                let noRows = this._data == null || this._data.rowList.length == 0;

                this._tooManyTickets = this._ticketCount != 1;
                this._noCols = noCols;
                this._noRows = noRows;
                this._noQuery = this._tooManyTickets || noCols || noRows;

                this._noData = !this._noQuery && this._dataEmpty;
            },

            _loading : function(value) {
                this._isLoading = value;
                if (value) {
                    var valuesElement = this.querySelector(".data .values");
                    valuesElement.innerHTML = "";
                }
            },

            _refreshData : function(data) {
                this._isLoading = false;
                this._data = data;

                let valuesContainer = this.querySelector(".data .values");
                valuesContainer.innerHTML = "";
                let valuesElement = document.createElement('div');
                valuesContainer.appendChild(valuesElement);

                window.SumusTimeCrossTableGenerator.generate({ container: valuesElement,
                    unitLabel: data.unitLabel,
                    language: this.getLanguage(),
                    cols: data.columnList,
                    rows: data.rowList,
                    decimalPlaces: data.decimalPlaces,
                    heatMap: data.heatMap
                }, data.entryList);

                this._dataEmpty = valuesElement.innerHTML === "";
                this._refresh();
            }

        });
    </script>
</dom-module>