<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/alexandria-activity-elements/_common/alexandria-item-selector.html">
<link rel="import" href="sumus-time-series-chart-dialog.html">
<link rel="import" href="sumus-time-cross-table-dialog.html">
<link rel="import" href="sumus-time-bar-chart-dialog.html">
<link rel="import" href="sumus-time-scatter-chart-dialog.html">

<script src="sumustimechartdesign/requester.js"></script>
<script src="sumustimechartdesign/notifier-listener.js"></script>

<dom-module id="sumus-time-chart-design">

    <template>
        <div class="layout horizontal center-justified wrap">
            <alexandria-item-selector label="[[SelectTicket]]" items="[[_ticketList]]" selected="[[_selectedTicketList]]" multiple on-items-selected="_onTicketsSelected" no-items-label="[[NoTickets]]"></alexandria-item-selector>
            <iron-pages attr-for-selected="name" selected="{{_selectedChart}}">
                <div name="TimeSeriesChart"><cotton-zombie display="SumusTimeSeriesChartDialog" widget="SumusTimeSeriesChartDialog"></cotton-zombie></div>
                <div name="TimeCrossTable"><cotton-zombie display="SumusTimeCrossTableDialog" widget="SumusTimeCrossTableDialog"></cotton-zombie></div>
                <div name="TimeBarChart"><cotton-zombie display="SumusTimeBarChartDialog" widget="SumusTimeBarChartDialog"></cotton-zombie></div>
                <div name="TimeScatterChart"><cotton-zombie display="SumusTimeScatterChartDialog" widget="SumusTimeScatterChartDialog"></cotton-zombie></div>
            </iron-pages>
        </div>
    </template>

    <style>
        :host alexandria-item-selector {
            min-width: 198px;
            margin-left: 0;
            margin-bottom: 20px;

            --alexandria-item-selector-title : {
                font-size: 11pt;
                font-weight: normal;
                border: 0;
                margin: 4px;
                border-bottom: 1px solid black;
            };
            --alexandria-item-selector-menu-item : {
                font-size: 10pt;
            }
        }
    </style>

    <script>

        const SumusTimeChartDesignDictionary = {
            es: {
                SelectTicket : "indicadores",
                NoTickets : "todos los indicadores en uso"
            },
            en: {
                SelectTicket : "indicators",
                NoTickets : "todos los indicadores en uso"
            }
        };

        Polymer({
            is: 'sumus-time-chart-design',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                CottonBehaviors.PushBehavior,
                CottonBehaviors.TranslatorBehavior,
                SumusTimeChartDesignBehaviors.Requester,
                SumusTimeChartDesignBehaviors.NotifierListener ],

            properties : {
                _ticketList : Array,
                _selectedTicketList : Array,
                _selectedChart : { type: String, value: function() { return 'TimeSeriesChart'; } }
            },

            attached : function() {
                this.translate(SumusTimeChartDesignDictionary);
                this.listenToDisplay();
            },

            _refreshTicketList : function(ticketList) {
                this._ticketList = ticketList;
            },

            _refreshSelectedTicketList : function(names) {
                this._selectedTicketList = names;
            },

            _refreshSelectedChart : function(selected) {
                this._selectedChart = selected;
            },

            _onTicketsSelected: function (e) {
                this.selectTickets(e.detail);
            }

        });
    </script>
</dom-module>