<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/iron-icons/iron-icons.html">
<link rel="import" href="../../lib/iron-pages/iron-pages.html">
<link rel="import" href="../../lib/paper-button/paper-button.html">
<link rel="import" href="../../lib/paper-tabs/paper-tabs.html">
<link rel="import" href="../../lib/paper-tabs/paper-tab.html">
<link rel="import" href="sumus-time-chart-design.html">
<link rel="import" href="sumus-categorization-comparator.html">
<link rel="import" href="sumus-filter-list.html">
<link rel="import" href="sumus-filter.html">

<script src="sumusanalyze/requester.js"></script>
<script src="sumusanalyze/notifier-listener.js"></script>

<dom-module id="sumus-analyze">

    <template>
        <paper-tabs selected="{{_selectedPanel}}">
            <paper-tab id="designPanel"><span class="alt-shortcut">[[Design]]</span></paper-tab>
            <paper-tab><span class="alt-shortcut">[[Filtering]]</span></paper-tab>
            <paper-tab id="comparePanel" hidden$="_isMobile"><span class="alt-shortcut">[[Comparing]]</span></paper-tab>
        </paper-tabs>
        <div class$="selected_page_[[_selectedPanel]]">
            <div class="page_0 layout horizontal">
                <cotton-zombie display="SumusTimeChartDesign" widget="SumusTimeChartDesign"></cotton-zombie>
            </div>
            <div class="page_1 layout horizontal">
                <div class="panel filters">
                    <cotton-zombie display="SumusFilterList" widget="SumusFilterList"></cotton-zombie>
                </div>
                <div class="panel filter current">
                    <cotton-zombie display="SumusFilter" widget="SumusFilter"></cotton-zombie>
                </div>
            </div>
            <div class="page_2">
                <div class="layout horizontal flex">
                    <div class="panel comparators">
                        <label class="layout horizontal center flex">[[Comparators]]</label>
                        <paper-menu id="menu" class="layout horizontal" selected="{{_selectedComparator}}">
                            <paper-item name="[[filter.name]]">[[CategorizationComparator]]</paper-item>
                        </paper-menu>
                    </div>
                    <div class="layout vertical flex air">
                        <iron-pages class="comparators" selected="[[_selectedComparator]]">
                            <div><cotton-zombie display="SumusCategorizationComparator" widget="SumusCategorizationComparator"></cotton-zombie></div>
                        </iron-pages>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <style>
        :host {
            display: block;
        }
        :host .page_0, :host .page_1, :host .page_2 {
            display: none !important;
            height: 100%;
        }
        :host .page_0 {
            margin: 10px 0 0 0;
            overflow: auto;
            height: calc(100% - 10px);
        }
        :host .selected_page_0 .page_0 {
            display: flex !important;
        }
        :host .selected_page_1 .page_1 {
            display: flex !important;
        }
        :host .selected_page_2 .page_2 {
            display: flex !important;
        }
        :host paper-tabs {
            width: 370px;
            height: 30px;
            margin-bottom: 5px;
            --paper-tabs-selection-bar : {
                height: 31px;
                background: var(--accent-color);
                color: white;
                z-index: 0;
                border-radius: 0 0 3px 3px;
                border-top: 1px solid white;
                border-bottom: 0;
            };
        }
        :host paper-tab[aria-selected] {
            color: white;
        }
        :host paper-tab[disabled] {
            color: #aaa;
        }
        :host > div {
            height: calc(100% - 26px);
            border-bottom: 0;
        }
        :host .panel.filters, :host .panel.comparators {
            padding: 0 0 0 10px;
            border-right: 1px solid #ddd;
        }
        :host .panel.filter {
            height: 100%;
        }
        :host .panel.comparators paper-menu ::content .selectable-content {
            width: 100%;
        }
        :host .panel.comparators paper-item {
            padding: 6px 12px;
            margin-top: 10px;
            width: calc(100% - 34px);
            border-radius: 0;
        }
        :host iron-pages.comparators {
            height: 100%;
        }
        :host iron-pages.comparators > div {
            height: 100%;
        }
        :host paper-dialog {
            width: 100%;
            height: 100%;
            background: white;
        }
        :host paper-dialog .header {
            background: #efefef;
            margin: 0;
            padding: 10px;
        }
        :host paper-dialog .close {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: -16px;
            margin-right: -14px;
            padding: 2px;
        }
        :host paper-dialog .close ::content iron-icon {
            display: block;
            width: 35px;
            background: white;
            border-radius: 100px;
            border: 1px solid #ddd;
            color: #666;
            height: 35px;
            -webkit-box-shadow: -1px 1px 10px #888888;
            -moz-box-shadow: -1px 1px 10px #888888;
            box-shadow: -1px 1px 10px #888888;
        }
        :host paper-dialog .comparators {
            height: calc(100% - 100px);
            margin-top: 0;
        }
        :host paper-dialog .comparators sumus-categorization-comparator {
            display: block;
            height: 100%;
        }
        :host paper-dialog .buttons {
            border-top: 1px solid #ddd;
        }
        :host paper-dialog paper-button {
            margin-left: 10px;
            width: 76px;
            height: 32px;
        }
        :host paper-menu {
            padding: 0;
            background-color: transparent;
            width: 150px;
            height: calc(100% - 30px);
            overflow: auto;
            display: block;
        }
        :host paper-item {
            font-size: 10pt;
            line-height: 12px;
            min-height: 0;
            padding: 2px 4px;
            display: block;
            outline: none;
            cursor: pointer;
            width: calc(100% - 8px);
            border-radius: 3px 0 0 3px;
            --paper-item-selected: {
                background-color: var(--accent-color);
                color: white;
            };
            --paper-item-focused: {
                background-color: var(--accent-color);
                color: white;
            };
        }
        :host .air {
            padding: 10px;
            height: calc(100% - 20px);
            width: calc(100% - 20px);
        }
        :host.safari .air {
            height: auto;
            overflow: auto;
        }
        @media screen and (max-width: 736px) {
            :host .panel.filters {
                width: 100%;
                border: 0;
            }
            :host .panel.filter {
                display: none;
            }
            :host #comparePanel, :host .page_2 {
                display: none;
            }
        }
    </style>

    <script>

        const SumusAnalyzeDictionary = {
            es: {
                Design: "diseño",
                Filtering: "filtros",
                Comparing: "comparativa",
                CategorizationComparator: "por dimensión"
            },
            en: {
                Design: "design",
                Filtering: "filters",
                Comparing: "comparative",
                CategorizationComparator: "by dimension"
            }
        };

        const SumusAnalyzePanel = {
            Design: "design",
            Filters: "filters",
            Compare: "compare"
        };

        Polymer({
            is: 'sumus-analyze',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                         CottonBehaviors.PushBehavior,
                         CottonBehaviors.TranslatorBehavior,
                         SumusAnalyzeBehaviors.Requester,
                         SumusAnalyzeBehaviors.NotifierListener ],

            properties : {
                _selectedPanel : { type: Number, value: function() { return -1; } },
                _selectedComparator : { type: Number, value: function() { return 0; } },
                _isMobile : Boolean
            },

            attached : function() {
                this.translate(SumusAnalyzeDictionary);
                this.listenToDisplay();
                this._isMobile = isMobile();
                addBrowserClasses(this);
            },

            showPanel : function(panel) {
                if (panel == SumusAnalyzePanel.Design) this.showDesign();
                if (panel == SumusAnalyzePanel.Filters) this.showFilters();
                if (panel == SumusAnalyzePanel.Compare) this.showCompare();
            },

            showDesign : function() {
                if (this.$.designPanel.disabled) {
                    this.showFilters();
                    return;
                }
                this._selectedPanel = 0;
            },

            showFilters : function() {
                this._selectedPanel = 1;
            },

            showCompare : function() {
                if (this.$.comparePanel.disabled || isMobile()) {
                    this.showDesign();
                    return;
                }
                this._selectedPanel = 2;
            },

            resize : function() {
            },

            _refreshVisibility : function(value) {
                if (value) this._show();
                else this._hide();
            },

            _enableDesignPanel : function() {
                this.$.designPanel.disabled = false;
            },

            _disableDesignPanel : function() {
                this.$.designPanel.disabled = true;
                if (this._selectedPanel == 0) this.showFilters();
            },

            _enableComparePanel : function() {
                this.$.comparePanel.disabled = false;
            },

            _disableComparePanel : function() {
                this.$.comparePanel.disabled = true;
                if (this._selectedPanel == 2) this.showDesign();
            },

            _show : function() {
                this.removeAttribute('hidden');
            },

            _hide : function() {
                this.setAttribute('hidden', true);
            },

            _applyComparison : function() {
                this.querySelector("sumus-categorization-comparator").apply();
            }

        });

        function isMobile() {
            return $(window).width() < 736;
        }

    </script>
</dom-module>
