<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/paper-swatch-picker/paper-swatch-picker.html">
<link rel="import" href="../../lib/alexandria-activity-elements/alexandriatimenavigator/alexandria-pocket-time-navigator.html">
<link rel="import" href="../../lib/alexandria-activity-elements/_common/alexandria-item-selector.html">
<link rel="import" href="../../lib/alexandria-activity-elements/_common/alexandria-item-selector-combo.html">

<script src="sumustimescatterchartdialog/requester.js"></script>
<script src="sumustimescatterchartdialog/notifier-listener.js"></script>

<dom-module id="sumus-time-scatter-chart-dialog">

    <template>
        <div class="layout horizontal center-justified wrap">
            <div class="dialog date">
                <label>[[Date]]</label>
                <div class="content">
                    <cotton-zombie display="AlexandriaTimeNavigator" widget="AlexandriaPocketTimeNavigator"></cotton-zombie>
                </div>
            </div>
            <div class="dialog properties">
                <label>[[Properties]]</label>
                <div class="content">
                    <div class="axis">
                        <div class="label">[[XAxis]]</div>
                        <ul id="xAxis" class="list x-axis"></ul>
                        <template is="dom-if" if="[[!_xAxis]]"><div class="label empty">[[NotDefined]]</div></template>
                    </div>
                    <div class="axis">
                        <div class="label">[[YAxis]]</div>
                        <ul id="yAxis" class="list y-axis"></ul>
                        <template is="dom-if" if="[[!_yAxis]]"><div class="label empty">[[NotDefined]]</div></template>
                    </div>
                    <div class="radius">
                        <div class="label">[[Radius]]</div>
                        <ul id="radius" class="list radius"></ul>
                        <template is="dom-if" if="[[!_radius]]"><span class="label empty">[[NotDefined]]</span></template>
                    </div>
                    <div class="color">
                        <div class="label">[[Color]]</div>
                        <ul id="color" class="list color"></ul>
                        <template is="dom-if" if="[[!_color]]"><span class="label empty">[[NotDefined]]</span></template>
                        <div class="layout horizontal flex colors" hidden$="[[!_color]]">
                            <div class="layout vertical center color">
                                <div>[[ColorMin]]</div>
                                <paper-swatch-picker color="{{_colorMin}}" on-color-picker-selected="_query"></paper-swatch-picker>
                            </div>
                            <div class="layout vertical center color">
                                <div>[[ColorMax]]</div>
                                <paper-swatch-picker color="{{_colorMax}}" on-color-picker-selected="_query"></paper-swatch-picker>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dialog categorization">
                <label>[[Categorization]]</label>
                <div class="content">
                    <alexandria-item-selector no-label label="[[Categorization]]" items="[[_allCategorizations]]" selected="[[_selectedCategorization]]" on-item-selected="_onCategorizationSelected"></alexandria-item-selector>
                </div>
            </div>
        </div>
    </template>

    <style>
        :host .dialog {
            overflow: auto;
        }
        :host .dialog {
            min-width: 190px;
            width: 190px;
            margin: 0 20px 20px;
            position: relative;
            padding: 4px;
        }
        :host .dialog label {
            display: block;
            margin-bottom: 4px;
            padding-bottom: 5px;
            border-bottom: 1px solid black;
            font-size: 11pt;
        }
        :host .dialog .content {
            padding: 3px;
        }
        :host .dialog .list {
            margin: 0;
            padding: 0;
            list-style: none;
            min-height: 25px;
        }
        :host .dialog .list li {
            padding: 3px 10px;
            background: #efefef;
            min-width: calc(100% - 20px);
            text-align: center;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            cursor: move;
            margin-bottom: 5px;
        }
        :host .dialog .axis, :host .dialog .radius, :host .dialog .color {
            margin-bottom: 5px;
            position: relative;
        }
        :host .dialog .axis > .label, :host .dialog .radius > .label, :host .dialog .color > .label {
            font-size: 10pt;
            color: #888;
            margin-bottom: 2px;
        }
        :host .dialog .empty {
            position: absolute;
            top: 0;
            margin-top: 20px;
            color: black;
            text-align: center;
            width: 100%;
        }
        :host .dialog .colors {
            margin-top: 10px;
            margin-left: 19px;
        }
        :host .dialog .colors .color {
            font-size: 10pt;
            width: 60px;
            min-width: 60px;
        }
        :host .dialog .colors .color paper-swatch-picker ::content paper-menu-button {
            padding: 0;
        }
        :host paper-button {
            padding: 4px 8px;
            margin-top: 8px;
        }
        :host alexandria-item-selector {
            width: 100%;
            --alexandria-item-selector-menu-item : {
                font-size: 10pt;
                padding: 0 10px;
            };
        }
    </style>

    <script>

        const SumusTimeScatterChartDialogDictionary = {
            es: {
                Properties : "propiedades",
                Categorization : "dimensión",
                XAxis : "eje x",
                YAxis : "eje y",
                Radius : "radio",
                Color : "color",
                NotDefined : "sin definir",
                ColorMin : "mínimo",
                ColorMax : "máximo",
                Date : "fecha"
            },
            en: {
                Properties : "properties",
                Categorization : "dimension",
                XAxis : "x axis",
                YAxis : "y axis",
                Radius : "radius",
                Color : "color",
                NotDefined : "no indicator",
                ColorMin : "min",
                ColorMax : "max",
                Date : "date"
            }
        };

        const xAxisList = '.list.x-axis';
        const yAxisList = '.list.y-axis';
        const RadiusList = '.list.radius';
        const ColorList = '.list.color';

        Polymer({
            is: 'sumus-time-scatter-chart-dialog',
            _categorization: null,

            behaviors: [ CottonBehaviors.CarrierBehavior,
                CottonBehaviors.PushBehavior,
                CottonBehaviors.TranslatorBehavior,
                SumusTimeScatterChartDialogBehaviors.Requester,
                SumusTimeScatterChartDialogBehaviors.NotifierListener ],

            properties : {
                _allCategorizations : Array,
                _selectedCategorization : Object,
                _xAxis : Object,
                _yAxis : Object,
                _radius : Object,
                _color : Object,
                _colorMin : { type: String, value: function() { return '#00FF00'; } },
                _colorMax : { type: String, value: function() { return '#FF0000'; } }
            },

            attached : function() {
                this.translate(SumusTimeScatterChartDialogDictionary);
                this.listenToDisplay();
                this._createSortableLists();
            },

            _createSortableLists : function() {
                Sortable.create(this.querySelector(xAxisList), this._listOptions('xAxis', ['yAxis', 'radiusAxis', 'colorAxis']));
                Sortable.create(this.querySelector(yAxisList), this._listOptions('yAxis', ['xAxis', 'radiusAxis', 'colorAxis']));
                Sortable.create(this.querySelector(RadiusList), this._listOptions('radiusAxis', ['xAxis', 'yAxis', 'colorAxis']));
                Sortable.create(this.querySelector(ColorList), this._listOptions('colorAxis', ['xAxis', 'yAxis', 'radiusAxis']));
            },

            _listOptions : function(name, putList) {
                var widget = this;
                return {
                    group : { name: name, put: putList },
                    onAdd: function (event) {
                        widget._swap({ from: event.from.id, to: event.to.id });
                    },
                };
            },

            _swap : function(swap) {
                var from = this["_" + swap.from];
                var local = this["_" + swap.to];
                this["_" + swap.to] = this["_" + swap.from];
                this["_" + swap.from] = local;
                this._query();
            },

            _query : function(swap) {
                this.query(this._generateQuery());
            },

            _generateQuery : function(swap) {
                var query = {};
                if (this._xAxis != null) query.xAxis = this._xAxis.name;
                if (this._yAxis != null) query.yAxis = this._yAxis.name;
                if (this._radius != null) query.radius = this._radius.name;
                if (this._color != null) query.color = this._color.name;
                if (this._categorization != null && this._categorization !== "") query.categorization = this._categorization;
                if (this._color != null) query.heatMap = { min: this._colorMin, max: this._colorMax };
                return query;
            },

            _refreshTicketList : function(ticketList) {
                this._xAxis = ticketList.length > 0 ? ticketList[0] : null;
                this._yAxis = ticketList.length > 1 ? ticketList[1] : null;
                this._radius = ticketList.length > 2 ? ticketList[2] : null;
                this._color = ticketList.length > 3 ? ticketList[3] : null;
                this._updateLists();
            },

            _updateLists : function() {
                this._updateList(xAxisList, this._xAxis);
                this._updateList(yAxisList, this._yAxis);
                this._updateList(RadiusList, this._radius);
                this._updateList(ColorList, this._color);
            },

            _updateList : function(listCss, ticket) {
                var list = this.querySelector(listCss);
                list.innerHTML = "";

                if (ticket != null)
                    list.appendChild(this._createListItem(ticket));
            },

            _createListItem : function(ticket) {
                var item = document.createElement("li");
                item.name = ticket.name;
                item.className = 'sumus-time-scatter-chart-dialog';
                item.innerHTML = '<div class="label">' + ticket.label + '</div>';
                return item;
            },

            _refreshCategorizationList : function(categorizationList) {
                this._allCategorizations = categorizationList;
            },

            _refreshCategorization : function(categorization) {
                this._selectedCategorization = categorization;
            },

            _onCategorizationSelected : function(e) {
                this._categorization = e.detail;
                this._query();
            }

        });
    </script>
</dom-module>