<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/cotton-checkbox/cotton-checkbox.html">
<link rel="import" href="../../lib/paper-swatch-picker/paper-swatch-picker.html">
<link rel="import" href="../../lib/alexandria-activity-elements/alexandriatimenavigator/alexandria-pocket-time-navigator.html">
<link rel="import" href="../../lib/alexandria-activity-elements/_common/alexandria-item-selector-button.html">

<script src="sumustimecrosstabledialog/requester.js"></script>
<script src="sumustimecrosstabledialog/notifier-listener.js"></script>

<dom-module id="sumus-time-cross-table-dialog">

    <template>
        <div class="layout horizontal center-justified wrap">
            <div class="dialog date">
                <label>[[Date]]</label>
                <div class="content">
                    <cotton-zombie display="AlexandriaTimeNavigator" widget="AlexandriaPocketTimeNavigator"></cotton-zombie>
                </div>
            </div>
            <div class="dialog rows">
                <label>[[Rows]]</label>
                <div class="content">
                    <ul class="list rows layout vertical"></ul>
                    <div class="empty" hidden$="[[!_noRows]]">[[EmptyMessage]]</div>
                    <alexandria-item-selector-button label="+" items="[[_addCategorizations]]" on-item-selected="_addRow" wrap></alexandria-item-selector-button>
                </div>
            </div>
            <div class="dialog columns">
                <label>[[Columns]]</label>
                <div class="content">
                    <ul class="list cols layout vertical"></ul>
                    <div class="empty" hidden$="[[!_noCols]]">[[EmptyMessage]]</div>
                    <alexandria-item-selector-button label="+" items="[[_addCategorizations]]" on-item-selected="_addColumn" wrap></alexandria-item-selector-button>
                </div>
            </div>
            <div class="dialog heatmap">
                <label>[[HeatMap]]</label>
                <div class="content">
                    <cotton-checkbox class="heatmap layout horizontal" checked=[[_heatMap]] on-tap="_toggleHeatMap"><span>[[_heatMapActivation]]</span></cotton-checkbox>
                    <div class="layout horizontal flex colors">
                        <div class="layout vertical center color">
                            <div>[[HeatMapMin]]</div>
                            <paper-swatch-picker color="{{_heatMapMinColor}}" on-color-picker-selected="_activateHeatMap"></paper-swatch-picker>
                        </div>
                        <div class="layout vertical center color">
                            <div>[[HeatMapMax]]</div>
                            <paper-swatch-picker color="{{_heatMapMaxColor}}" on-color-picker-selected="_activateHeatMap"></paper-swatch-picker>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <style>
        :host {
            overflow: auto;
        }
        :host .dialog {
            min-width: 190px;
            width: 190px;
            margin: 0 20px 20px;
            position: relative;
            padding: 4px;
        }
        :host div label {
            display: block;
            margin-bottom: 4px;
            padding-bottom: 5px;
            border-bottom: 1px solid black;
            font-size: 11pt;
        }
        :host div .content {
            padding: 3px;
            position: relative;
        }
        :host .empty {
            color: #888;
            position: absolute;
            top: 5px;
            z-index: -1;
        }
        :host alexandria-item-selector-button {
            margin-left: -10px;
            --item-selector-panel : {
                left: 30px !important;
            };
        }
        :host .colors {
            margin-top: 10px;
            margin-left: 19px;
        }
        :host .colors .color {
            font-size: 10pt;
            width: 60px;
            min-width: 60px;
        }
        :host .colors .color paper-swatch-picker ::content paper-menu-button {
            padding: 0;
        }
        :host ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        :host li {
            padding: 3px 20px;
            cursor: move;
            margin-top: 5px;
            border-radius: 3px;
            min-width: calc(100% - 20px);
            margin-right: 10px;
            background: #efefef;
            text-align: center;
        }
        :host ul.cols li, :host ul.rows li {
            padding: 3px 10px;
        }
        :host ul li.not-valid {
            background-color: red;
            color: white;
        }
        :host ul li .clear {
            padding: 0;
            height: 20px;
            width: 20px;
            min-width: 20px;
            margin-left: 2px;
        }
        :host .list.cols, :host .list.rows {
            min-height: 25px;
            min-width: 55px;
        }
        :host .list:hover .empty {
            display: none;
        }
        :host .list li {
            margin: 0 0 5px;
        }
    </style>

    <script>

        const SumusTimeCrossTableDialogDictionary = {
            es: {
                EmptyMessage: "ninguno",
                Columns : "columnas",
                Rows : "filas",
                HeatMap : "mapa calor",
                HeatMapMin : "mínimo",
                HeatMapMax : "máximo",
                ActivateHeatMap : "activar",
                DeactivateHeatMap : "desactivar",
                Date : "fecha"
            },
            en: {
                EmptyMessage: "none",
                Columns : "columns",
                Rows : "rows",
                HeatMap : "heat map",
                HeatMapMin : "min",
                HeatMapMax : "max",
                ActivateHeatMap : "activate",
                DeactivateHeatMap : "deactivate",
                Date : "date"
            }
        };

        const ColsList = '.list.cols';
        const RowsList = '.list.rows';

        Polymer({
            is: 'sumus-time-cross-table-dialog',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                CottonBehaviors.PushBehavior,
                CottonBehaviors.TranslatorBehavior,
                SumusTimeCrossTableDialogBehaviors.Requester,
                SumusTimeCrossTableDialogBehaviors.NotifierListener ],

            properties : {
                _categorizations : { type: Array, value: function() { return []; }},
                _temporalCategorizations : { type: Array, value: function() { return []; }},
                _addCategorizations : { type: Array, value: function() { return []; }},
                _noCols : { type: Boolean, value: function() { return false; } },
                _noRows : { type: Boolean, value: function() { return false; } },
                _heatMap : { type: Boolean, value: function() { return false; } },
                _heatMapMinColor : { type: String, value: function() { return '#00FF00'; } },
                _heatMapMaxColor : { type: String, value: function() { return '#FF0000'; } }
            },

            attached : function() {
                this.translate(SumusTimeCrossTableDialogDictionary);
                this.listenToDisplay();
                this._createSortableLists();
                this._refresh();
            },

            _createSortableLists : function() {
                Sortable.create(this.querySelector(ColsList), this._listOptions('a', ['b']));
                Sortable.create(this.querySelector(RowsList), this._listOptions('b', ['a']));
            },

            _listOptions : function(name, putList) {
                var widget = this;
                return {
                    group : { name: name, put: putList },
                    onUpdate : function(event) { widget._query(); },
                    onAdd: function (event) { widget._query(); },
                };
            },

            _refreshCategorizationList : function(categorizationList) {
                this._categorizations = categorizationList;
                this._addCategorizations = categorizationList;
                var widget = this;
                window.setTimeout(function() { widget._refresh(); }, 100);
            },

            _refreshTemporalCategorizationList : function(categorizationList) {
                this._temporalCategorizations = categorizationList;
                this._refresh();
            },

            _refresh : function () {
                this._noCols = this._countItems(ColsList) == 0;
                this._noRows = this._countItems(RowsList) == 0;
                this._heatMapActivation = this._heatMap ? this.DeactivateHeatMap : this.ActivateHeatMap;
                this._refreshAddedCategorizations();
                this._refreshAddCategorizations();
            },

            _refreshAddedCategorizations : function () {
                this._refreshNotValidCategorizations(ColsList);
                this._refreshNotValidCategorizations(RowsList);
            },

            _refreshNotValidCategorizations : function(list) {
                this._items(list).forEach(item => {
                    var label = item.querySelector(".label").innerHTML;

                    for(var i=0; i<this._categorizations.length; i++)
                        if (this._categorizations[i].label == label) return;

                    var valid = false;
                    for(var i=0; i<this._temporalCategorizations.length; i++) {
                        if (this._temporalCategorizations[i].label == label) {
                            valid = true;
                            break;
                        }
                    }
                    if (valid) $(item).removeClass('not-valid');
                    else $(item).addClass('not-valid');
                });
            },

            _refreshAddCategorizations : function () {
                var selection = this._itemsLabels(ColsList).concat(this._itemsLabels(RowsList));
                var addCategorizations = [];
                this._addAllButNotInSelection(this._categorizations, addCategorizations, selection);
                this._addAllButNotInSelection(this._temporalCategorizations, addCategorizations, selection);
                this._addCategorizations = addCategorizations;
            },

            _addAllButNotInSelection : function (items, destinationList, selection) {
                for (var i=0; i<items.length; i++) {
                    if (this._selectionContains(items[i].label, selection))
                        continue;
                    destinationList.push(items[i]);
                }
            },

            _selectionContains : function(label, selection) {
                for (var i=0; i<selection.length; i++)
                    if (selection[i] == label) return true;
                return false;
            },

            _addColumn : function(event) {
                this._addCategorization(ColsList, event.detail);
                this._query();
            },

            _addRow : function(event) {
                this._addCategorization(RowsList, event.detail);
                this._query();
            },

            _addCategorization : function(list, categorizationLabel) {
                var child = document.createElement("li");
                child.name = categorizationLabel;
                child.className = 'sumus-time-cross-table-dialog';
                var innerHTML = '<div class="layout vertical"><div class="layout horizontal center center-justified"><span class="label">';
                innerHTML += categorizationLabel;
                innerHTML += '</span></div></div>';
                child.innerHTML = innerHTML;
                var button = document.createElement('paper-icon-button');
                button.icon = 'clear';
                button.className = 'sumus-time-cross-table-dialog clear';
                button.addEventListener('tap', this._removeCategorization.bind(this));
                child.querySelector('.center-justified').appendChild(button);
                this.querySelector(list).appendChild(child);
                this._refresh();
            },

            _removeCategorization : function(e) {
                var item = $(e.target).parents("li");
                item.remove();
                this._refresh();
                this._query();
            },

            _countItems : function(list) {
                return this.querySelector(list).querySelectorAll("li").length;
            },

            _items : function(list) {
                return this.querySelector(list).querySelectorAll("li")
            },

            _itemsLabels : function(list) {
                var result = [];
                this.querySelector(list).querySelectorAll("li .label").forEach(function(item) {
                    result.push(item.innerHTML);
                });
                return result;
            },

            _itemOf : function(label) {
                return this.querySelector("li[name='" + label + "']");
            },

            _toggleHeatMap : function() {
                this._heatMap = !this._heatMap;
                this._query();
            },

            _activateHeatMap : function() {
                this._heatMap = true;
                this._query();
            },

            _generateQuery : function() {
                var query = { cols: this._itemsLabels(ColsList), rows: this._itemsLabels(RowsList) };
                if (this._heatMap) query.heatMap = { min: this._heatMapMinColor, max: this._heatMapMaxColor };
                return query;
            },

            _query : function() {
                this.query(this._generateQuery());
            }

        });
    </script>
</dom-module>