<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">

<script src="sumusdesktop/requester.js"></script>
<script src="sumusdesktop/notifier-listener.js"></script>

<dom-module id="sumus-desktop">

    <template>

        <div><cotton-zombie display="sumusNameSpace" widget="sumusNameSpace"></cotton-zombie></div>
        <div><cotton-zombie display="sumusOlap" widget="sumusOlap"></cotton-zombie></div>
    </template>

    <style>
    </style>

    <script>

        const SumusDesktopDictionary = {
            es: {
            },
            en: {
            }
        };

        Polymer({
            is: 'sumus-desktop',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                         CottonBehaviors.PushBehavior,
                         CottonBehaviors.TranslatorBehavior,
                         SumusDesktopBehaviors.Requester,
                         SumusDesktopBehaviors.NotifierListener ],

            properties : {
            },

            attached : function() {
                this.translate(SumusDesktopDictionary);
                this.listenToDisplay();
            }

        });
    </script>
</dom-module>