<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/iron-pages/iron-pages.html">
<link rel="import" href="../../lib/paper-button/paper-button.html">
<link rel="import" href="../../lib/cotton-chip/cotton-chip.html">
<link rel="import" href="../../lib/iron-icons/iron-icons.html">
<link rel="import" href="../../lib/iron-icons/communication-icons.html">
<link rel="import" href="../../lib/iron-icon/iron-icon.html">
<link rel="import" href="../../lib/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="../../lib/paper-toast/paper-toast.html">
<link rel="import" href="../../lib/alexandria-activity-elements/_common/alexandria-item-selector.html">
<link rel="import" href="../../lib/alexandria-activity-elements/_common/alexandria-item-selector-button.html">
<link rel="import" href="../../lib/alexandria-activity-elements/_common/alexandria-item-selector-combo.html">
<link rel="import" href="../../lib/alexandria-activity-elements/_common/alexandria-scale-selector-menu.html">
<link rel="import" href="../../lib/alexandria-activity-elements/_common/alexandria-export-dialog.html">
<link rel="import" href="_common/sumus-chart-selector.html">
<link rel="import" href="sumusolap/sumus-ticket-list.html">
<link rel="import" href="sumusolap/sumus-filter-list-summary.html">
<link rel="import" href="sumusolap/sumus-super-splitter.html">
<link rel="import" href="sumus-analyze.html">
<link rel="import" href="sumus-time-series-chart.html">
<link rel="import" href="sumus-time-cross-table.html">
<link rel="import" href="sumus-time-scatter-chart.html">
<link rel="import" href="sumus-time-bar-chart.html">

<script src="sumusolap/requester.js"></script>
<script src="sumusolap/notifier-listener.js"></script>

<dom-module id="sumus-olap">

    <template>
        <iron-pages selected="{{_selectedPage}}">
            <section id="paperToastContainer" class="temporal-visualization container layout vertical">
                <div id="chartBox" flex>
                    <div class="header layout horizontal">
                        <div class="flex layout horizontal center center-justified">
                            <div class="title layout vertical center center-justified">
                                <sumus-ticket-list tickets="[[_selectedTickets]]" drill="[[_drill]]" on-remove-ticket="_removeTicket" on-move-tickets="_moveTickets" on-remove-drill-category="_removeDrillCategory"></sumus-ticket-list>
                                <template is="dom-if" if="[[_showByCategorization]]">
                                    <div class="by-categorization">
                                        <div>[[By]] [[_selectedByCategorization.label]]</div>
                                    </div>
                                </template>
                                <sumus-filter-list-summary filters="[[_filters]]" on-remove-filter="_removeFilter"></sumus-filter-list-summary>
                            </div>
                        </div>
                        <div style="margin-right:5px;">
                            <paper-icon-button id="setupDialogButton" icon="icons:settings" on-tap="_showSetupDialog"></paper-icon-button>
                            <sumus-chart-selector class="embedded" charts="[[_charts]]" tickets="[[_selectedTickets]]" selected="{{_selectedChart}}" on-chart-selected="_onChartSelected"></sumus-chart-selector>
                        </div>
                    </div>
                    <div class="box main container layout vertical">
                        <div class="box charts">
                            <iron-pages selected="[[_selectedChart]]" attr-for-selected="name">
                                <div class="chart" name="TimeSeriesChart"><cotton-zombie id="timeSeriesChart" display="SumusTimeSeriesChart" widget="SumusTimeSeriesChart"></cotton-zombie></div>
                                <div class="chart" name="TimeCrossTable"><cotton-zombie id="timeCrossTable" display="SumusTimeCrossTable" widget="SumusTimeCrossTable"></cotton-zombie></div>
                                <div class="chart" name="TimeScatterChart"><cotton-zombie id="timeScatterChart" display="SumusTimeScatterChart" widget="SumusTimeScatterChart"></cotton-zombie></div>
                                <div class="chart" name="TimeBarChart"><cotton-zombie id="timeBarChart" display="SumusTimeBarChart" widget="SumusTimeBarChart"></cotton-zombie></div>
                            </iron-pages>
                            <div class="toolbar">
                                <!--<paper-button id="exportButton" on-tap="_showExportDialog" title="[[ExportData]]"><iron-icon icon="icons:file-download"></iron-icon></paper-button>-->
                                <!--<alexandria-scale-selector on-scale-selected="_notifyScaleSelected"></alexandria-scale-selector>-->
                            </div>
                            <alexandria-scale-selector-menu scales="[[_scales]]" on-scale-selected="_notifyScaleSelected"></alexandria-scale-selector-menu>
                        </div>
                    </div>
                </div>
                <sumus-super-splitter id="splitter" direction="up" hidden></sumus-super-splitter>
                <div id="analyzeBox">
                    <div class="analyze-dialog-trigger layout horizontal center center-justified" on-tap="_toggle">
                        <span class="alt-shortcut">[[Analyze]]</span>
                        <iron-icon class="open" icon="arrow-drop-up"></iron-icon></iron-icon>
                        <iron-icon class="close" icon="arrow-drop-down"></iron-icon></iron-icon>
                    </div>
                    <div id="analyzeDialog" class="analyze-dialog" duration="-1">
                        <cotton-zombie id="analyze" display="SumusAnalyze" widget="SumusAnalyze"></cotton-zombie>
                    </div>
                </div>
                <alexandria-export-dialog on-export="_export"></alexandria-export-dialog>
            </section>
        </iron-pages>
        <paper-dialog id="setupDialog" no-overlap>
            <h2>[[Setup]]</h2>
            <p>
            <div class="layout vertical">
                <label>[[Chart]]</label>
                <sumus-chart-selector charts="[[_charts]]" tickets="[[_selectedTickets]]" selected="{{_selectedChart}}" on-chart-selected="_onDialogChartSelected"></sumus-chart-selector>
            </div>
            </p>
            <div class="buttons">
                <paper-button dialog-dismiss>[[Close]]</paper-button>
            </div>
        </paper-dialog>
    </template>

    <style>
        :host {
            @apply(--layout-vertical);
            height: 100%;
            padding: 0;
        }

        :host .temporal-visualization {
            height: 100%;
        }

        :host .header {
            margin-top: 10px;
            margin-bottom: 0;
            position: relative;
            min-height: 37px;
        }

        :host .header alexandria-item-selector-combo.embedded, :host .header .range {
            margin-left: 12px;
        }

        :host .header .filters {
            margin-top: 3px;
            min-height: 22px;
        }

        :host .header .filters cotton-chip {
            font-size: 12pt;
            line-height: 19px;
            height: 22px;
            color: var(--accent-color);
        }

        :host .header .filters cotton-chip ::content paper-icon-button {
            margin: -3px 8px;
        }

        :host .header .filters .filtered {
            margin-left: 12px;
            color: #777;
        }

        :host .by-categorization {
            font-size: 10pt;
            color: #388e3c;
            margin-top: 2px;
            margin-bottom: 2px;
        }

        :host .box.main {
            height: calc(100% - 8px);
        }

        :host .box.charts {
            height: 100%;
        }

        :host .box.charts .chart {
            width: 100%;
            height: 100%;
        }

        :host .box.charts .toolbar {
            position: absolute;
            top: 0;
            right: 0;
        }

        :host .box.charts alexandria-scale-selector {
            margin-top: 12px;
        }

        :host #exportButton {
            width: 40px;
            margin-right: 8px;
        }

        :host sumus-time-series-chart {
            height: 100%;
            min-height: 100px;
        }

        :host .ticket > div {
            margin-left: 12px;
            margin-top: 4px;
        }

        :host cotton-chip {
            padding-left: 28px;
        }

        :host cotton-chip, :host .ticket > div {
            background: transparent;
            color: black;
            font-size: 16pt;
        }

        :host cotton-chip:hover {
            background: white !important;
            cursor: pointer;
        }

        :host cotton-chip ::content paper-icon-button {
            display: none;
        }

        :host cotton-chip:hover ::content paper-icon-button {
            display: block;
        }

        :host #paperToastContainer {
            position: relative;
        }

        :host #setupDialogButton {
            display: none;
            color: var(--default-primary-color);
        }

        :host .analyze-dialog-trigger {
            height: 30px;
            background: var(--default-primary-color);
            color: white;
            text-align: center;
            font-size: 10pt;
            cursor: pointer;
            bottom: 0;
            width: 100%;
        }

        :host #analyzeBox .analyze-dialog-trigger iron-icon.close,
        :host #analyzeBox.opened .analyze-dialog-trigger iron-icon.open {
            display: none;
        }

        :host #analyzeBox .analyze-dialog-trigger iron-icon.open,
        :host #analyzeBox.opened .analyze-dialog-trigger iron-icon.close {
            display: inline-block;
        }

        :host .analyze-dialog sumus-analyze {
            height: calc(100% - 10px);
        }

        :host iron-pages {
            height: 100%;
        }

        :host .temporal-visualization iron-pages {
            height: calc(100% - 59px);
        }

        :host #analyzeDialog {
            font-size: 10pt;
            background: white;
            color: black;
            padding: 0 15px;
            height: calc(100% - 30px);
        }

        :host #chartBox {
            height: calc(100% - 30px);
            min-height: 200px;
        }

        :host #analyzeBox {
            min-height: 30px;
        }

        :host #splitter {
            touch-action: none;
            height: 4px;
            padding: 8px 0 0 0;
            border: 0;
            box-shadow: none;
            background-color: white;
            background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns=%22http://www.w3.org/2000/svg%22 height=%2224%22 width=%2224%22%3e%3cg id=%22more-horiz%22%3e%3cpath d=%22M6,10c-1.1,0-2,0.9-2,2s0.9,2,2,2c1.1,0,2-0.9,2-2S7.1,10,6,10z M18,10c-1.1,0-2,0.9-2,2s0.9,2,2,2c1.1,0,2-0.9,2-2S19.1,10,18,10z M12,10c-1.1,0-2,0.9-2,2s0.9,2,2,2c1.1,0,2-0.9,2-2S13.1,10,12,10z%22/%3e%3c/g%3e%3c/svg%3e');
        }

        section {
            height: calc(100% - 5px);
        }

        div.view-controls {
            margin-top: 5px;
            margin-bottom: 5px;
            @apply(--layout-horizontal);
            @apply(--layout-justified);
        }

        paper-button {
            padding: 6px;
            width: 130px;
        }

        paper-button#drill {
            margin-left: 10px;
        }

        paper-button#exportButton iron-icon {
            padding: 0;
        }

        paper-button iron-icon {
            padding-left: 4px;
            padding-right: 4px;
        }

        iron-icon.rotate {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        :host .text-expanded {
            padding-right: 4px;
        }

        :host alexandria-item-selector-button {
            margin: 0;
        }

        paper-button[toggles][active] {
            background-color: var(--accent-color);
        }

        ul {
            list-style: none;
            margin: 0;
            border-top: 1px solid var(--paper-grey-400);
        }

        :host alexandria-scale-selector-menu {
            display: none;
        }

        :host paper-dialog {
            background: white;
            width: 100%;
        }

        :host paper-dialog label {
            margin-bottom: 4px;
        }

        :host paper-dialog p div {
            margin-top: 0;
        }

        @media screen and (max-width: 736px) {
            paper-button {
                width: 75px;
            }
            :host .text-expanded, paper-button#exportButton, :host alexandria-item-selector-button, :host alexandria-scale-selector {
                display: none;
            }
            :host alexandria-item-selector-button {
                margin-left: 45px;
            }
            :host .box.charts .chart {
                width: 100%;
            }
            :host #setupDialogButton {
                display: block;
            }
            :host alexandria-item-selector-combo.embedded, :host sumus-chart-selector.embedded {
                display: none;
            }
            :host .title {
                margin-left: 25px;
            }
        }
    </style>

    <script>

        const SumusOlapDictionary = {
            es: {
                ExportData: 'Descargar',
                AddToFilter: 'Filtrar',
                RemoveFilter : 'quitar filtro',
                FilteredBy : 'en: ',
                SelectTicket : "seleccione al menos un indicador",
                Chart : "tipo de gráfica",
                Analyze : "análisis",
                By: 'por',
                Setup: 'configuración',
                Close: 'cerrar'
            },
            en: {
                ExportData: 'Download',
                AddToFilter: 'Filter',
                RemoveFilter : 'remove filter',
                FilteredBy : 'in: ',
                SelectTicket : "select at least one indicator",
                Chart : "graph type",
                Analyze : "analysis",
                By: 'by',
                Setup: 'setup',
                Close: 'close'
            }
        };

        Polymer({
            is: 'sumus-olap',
            _resizing : false,

            behaviors: [ CottonBehaviors.CarrierBehavior,
                CottonBehaviors.PushBehavior,
                CottonBehaviors.TranslatorBehavior,
                SumusOlapBehaviors.Requester,
                SumusOlapBehaviors.NotifierListener,
                Polymer.IronResizableBehavior ],

            properties : {
                _selectedPage : { type: Number, value: function() { return 0; } },
                _currentScale: String,
                _range: Object,
                _drill : { type: Object, value : function() { return null; } },
                _isDrillDisabled: Boolean,
                _isDrilling: Boolean,
                _isFilterDisabled: Boolean,
                _isFiltering: { type: Boolean, notify: true, observer: "_onChangeFiltering" },
                _selectedTickets: Array,
                _selectedByCategorization: Array,
                _showByCategorization: Boolean,
                _scales: Array,
                _charts : Array,
                _selectedChart : String,
                _filters: Array,
                _tickets: Array,
                _chartBoxHeight : Number
            },

            listeners: {
                'iron-resize': '_resize'
            },

            attached : function() {
                this.translate(SumusOlapDictionary);
                this.listenToDisplay();
                this._registerPersonifyMessages();
                this._addListeners();
                this._refresh();
            },

            _addListeners : function() {
                window.addEventListener('keydown', (event) => {
                    if (!event.altKey) return;
                    $(document.body).addClass('alt-pressed');
                });
                window.addEventListener('keyup', (event) => {
                    $(document.body).removeClass('alt-pressed');
                });
                window.addEventListener("keypress", (event) => {
                    if (event.altKey && event.keyCode === 229) // Alt+A
                        this._toggleAnalyzeDialog();
                    if (event.altKey && event.keyCode === 8706) // Alt+D
                        this._toggleAnalyzeDialog("design");
                    if (event.altKey && event.keyCode === 402) // Alt+F
                        this._toggleAnalyzeDialog("filters");
                    if (event.altKey && event.keyCode === 169) // Alt+C
                        this._toggleAnalyzeDialog("compare");
                });
            },

            _resize : function() {
                if (this._resizing) return;

                this._resizing = true;
                this._resizeComponents();
                this._updateFiltersMaxWidth();
                this._updateAnalyzeBoxHeight();

                this._resizing = false;
            },

            _resizeComponents : function() {
                this._resizeComponent("sumus-time-series-chart");
                this._resizeComponent("sumus-time-bar-chart");
                this._resizeComponent("sumus-time-scatter-chart");
                this._resizeComponent("sumus-time-cross-table");
                this._resizeComponent("sumus-analyze");
            },

            _resizeComponent : function(name) {
                var component = this.querySelector(name);
                if (component != null) component.resize();
            },

            _updateFiltersMaxWidth : function() {
                var filters = this.querySelectorAll(".filters cotton-chip");
                var widget = this;
                filters.forEach(function(filter) { filter.style.maxWidth = $(widget).width()-250 + "px"; });
            },

            _updateAnalyzeBoxHeight : function() {
                window.setTimeout(() => {
                    var height = $(this.$.chartBox).height() - 12;
                    this.$.analyzeBox.style.height = this.$.analyzeBox.opened ? "calc(100% - " + height + "px)" : "30px";
                }, 50);
            },

            _registerPersonifyMessages: function () {
                this.$.analyze.whenPersonified().execute(widget => {
                    widget.addEventListener('resize-chart', () => {
                        var timeSeriesChart = this.querySelector("sumus-time-series-chart");
                        if (timeSeriesChart != null) timeSeriesChart.resize();
                    });
                    widget.addEventListener('drill', () => this._doDrill());
                });
            },

            _ticketList : function(ticketList) {
                this._updateAvailableTickets(ticketList);
            },

            _selectTicketList : function(ticketList) {
                this._updateSelectedTickets(ticketList);
            },

            _byCategorization: function (categorization) {
                this._selectedByCategorization = categorization;
                this._refreshByCategorization();
            },

            _refreshByCategorization : function() {
                this._showByCategorization = this._selectedTickets.length > 0 && this._selectedByCategorization != null;
            },

            _chartList : function(charts) {
                this._charts = charts;
            },

            _selectChart : function(chart) {
                this._selectedChart = chart;
            },

            _onChartSelected : function(event) {
                var selection = event.detail;
                this.selectChart({ name: selection.name, option: selection.option });
            },

            _onDialogChartSelected : function(event) {
                this.$.setupDialog.close();
                this._onChartSelected(event);
            },

            _scaleList : function(scaleList) {
                this._scales = scaleList;
            },

            _updateScale : function(timeScale) {
                const scale = timeScale.name;
                this.querySelector('alexandria-scale-selector-menu').selectScale(scale);
            },

            _olapRange : function(range) {
                this.querySelector('alexandria-export-dialog').range = range;
            },

            _timeRange : function(range) {
                this._range = range;
                this._from = new Date(this._range.min);
                this._to = new Date(this._range.max);
            },

            _refreshFilterList : function(filterList) {
                this._filters = filterList;
                window.setTimeout(() => this._updateFiltersMaxWidth(), 100);
            },

            _filtering : function() {
                this._isFilterDisabled = false;
                this._isFiltering = true;
                this._isDrillDisabled = false;
                this._isDrilling = false;
                this._refresh();
            },

            _notFiltering : function() {
                this._isFiltering = false;
                this._refresh();
            },

            _enableFilter : function() {
                this._isFilterDisabled = false;
                this._refresh();
            },

            _disableFilter : function() {
                this._isFilterDisabled = true;
                this._refresh();
            },

            _drilling : function() {
                this._isDrillDisabled = false;
                this._isDrilling = true;
                this._isFilterDisabled = true;
                this._isFiltering = false;
                this._refresh();
            },

            _notDrilling : function() {
                this._isDrilling = false;
                this._refresh();
            },

            _enableDrill : function() {
                this._isDrillDisabled = false;
                this._refresh();
            },

            _disableDrill : function() {
                this._isDrillDisabled = true;
                this._refresh();
            },

            _refresh : function() {
                var analyze = this.querySelector("sumus-analyze");
                if (analyze == null) return;
                analyze.drillDisabled = this._isDrillDisabled;
                analyze.drilling = this._isDrilling;
            },

            _hasTicketSelected: function (selectedTickets) {
                return selectedTickets.length > 0;
            },

            _twoDecimals: function (value) {
                return value > 9 ? value : '0' + value;
            },

            _updateAvailableTickets : function (tickets) {
                this._tickets = tickets;
                var analyze = this.querySelector("sumus-analyze");
                if (analyze) analyze.ticketList = tickets;
            },

            _updateSelectedTickets: function (tickets) {
                this._selectedTickets = tickets;
                this._refreshByCategorization();
            },

            _onChangeFiltering : function() {
//                if (this._isFiltering) this.$.filter.setAttribute("active", "true");
//                else this.$.filter.removeAttribute('active');
            },

            _onTicketsSelected: function (e) {
                var tickets = e.detail;
                for(var i=0; i<tickets.length; i++)
                    this.addTicket(tickets[i]);
            },

            _showExportDialog: function () {
                this.querySelector('alexandria-export-dialog').open(this._range);
            },

            _export: function (e) {
                this.export(e.detail);
            },

            _notifyScaleSelected: function (e) {
                if (this.delay != null) window.clearTimeout(this.delay);

                const scale = e.detail.scale.name;
                if (this.lastScale == scale)
                    return;

                this.delay = window.setTimeout(() => {
                    this.updateScale(e.detail.scale.name);
                    this.lastScale = scale;
                }, 600);
            },

            _refreshDrill : function(drill) {
                if (drill != null)
                    for (var i=0; i<drill.categoryList.length; i++)
                        drill.categoryList[i].color = this._drillCategoryColor(drill.categoryList[i]);
                this._drill = drill;
                this._refresh();
            },

            _doDrill: function () {
                this.toggleDrill();
            },

            _filter: function () {
                this.toggleFilter();
            },

            _modified: function (event) {
                const range = event.detail;
                this.udpateRange({from: new Date(range.from).getTime(), to: new Date(range.to).getTime()});
            },

            _removeTicket : function (event) {
                this.removeTicket(event.detail.ticket);
            },

            _moveTickets : function(event) {
                this.moveTickets(event.detail.tickets);
            },

            _removeDrillCategory : function (event) {
                this.removeDrillCategory(event.detail.category);
            },

            _removeFilter : function(event) {
                this.removeFilter(event.detail.filter);
            },

            _drillCategoryColor : function(category) {
                var timeSeriesChart = this.querySelector('sumus-time-series-chart');
                if (timeSeriesChart == null) return;
                return timeSeriesChart.colorOf(category.label);
            },

            _toggle : function(event) {
                var panel = this.lastPanel != null ? this.lastPanel : "design";
                this._toggleAnalyzeDialog(panel);
            },

            _toggleAnalyzeDialog : function(panel) {

                if (this.lastPanel == panel) {
                    this._doToggleAnalyzeDialog(panel);
                    return;
                }

                this._openAnalyzeDialog(panel);
                this.lastPanel = panel;
            },

            _doToggleAnalyzeDialog : function(panel) {
                if (this.$.analyzeBox.opened)
                    this._closeAnalyzeDialog();
                else
                    this._openAnalyzeDialog(panel);
            },

            _openAnalyzeDialog : function(panel) {

                if (!this.$.analyzeBox.opened) {
                    var height = this._chartBoxHeight != null ? this._chartBoxHeight : $(this.$.paperToastContainer).height()*0.40;
                    this.$.splitter.hidden = false;
                    this.$.chartBox.style.height = height != 0 ? height + "px" : "calc(100% - 312px)";
                    this.$.analyzeBox.style.webkitTransition = "";
                    this.$.analyzeBox.style.transition = "";
                    this.$.analyzeBox.style.height = height != 0 ? "calc(100% - " + (height+12) + "px)" : "312px";
                    this.$.analyzeBox.style.minHeight = "300px";
                    this.$.analyzeBox.opened = true;
                    this._resize();
                }

                var analyze = this.querySelector("sumus-analyze");
                if (panel == null) panel = "design";
                if (panel != null && analyze != null) analyze.showPanel(panel);

                $(this.$.analyzeBox).addClass("opened");
            },

            _closeAnalyzeDialog : function () {
                this._chartBoxHeight = $(this.$.chartBox).height();
                this.$.splitter.hidden = true;
                this.$.chartBox.style.height = "calc(100% - 30px)";
                this.$.analyzeBox.style.webkitTransition = "height 0.5s";
                this.$.analyzeBox.style.transition = "height 0.5s";
                this.$.analyzeBox.style.height = "30px";
                this.$.analyzeBox.style.minHeight = "30px";
                this.$.analyzeBox.opened = false;
                window.setTimeout(() => this._resize(), 550);
                $(this.$.analyzeBox).removeClass("opened");
            },

            _showSetupDialog : function() {
                this.$.setupDialog.open();
            }

        });
    </script>
</dom-module>