<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/alexandria-activity-elements/_common/alexandria-item-selector.html">
<link rel="import" href="../../lib/alexandria-activity-elements/alexandriatimenavigator/alexandria-pocket-time-navigator.html">

<script src="sumustimebarchartdialog/requester.js"></script>
<script src="sumustimebarchartdialog/notifier-listener.js"></script>

<dom-module id="sumus-time-bar-chart-dialog">

    <template>
        <div class="layout horizontal center-justified wrap">
            <div class="dialog date">
                <label>[[Date]]</label>
                <div class="content">
                    <cotton-zombie display="AlexandriaTimeNavigator" widget="AlexandriaPocketTimeNavigator"></cotton-zombie>
                </div>
            </div>
            <div class="dialog categorization">
                <label>[[Categorization]]</label>
                <div class="content">
                    <alexandria-item-selector no-label label="[[Categorization]]" items="[[_categorizations]]" selected="[[_selectedCategorization]]" on-item-selected="_onCategorizationSelected"></alexandria-item-selector>
                </div>
            </div>
        </div>
    </template>

    <style>
        :host > div {
            overflow: auto;
        }
        :host .dialog {
            min-width: 190px;
            width: 190px;
            margin: 0 20px 20px;
            position: relative;
            padding: 4px;
        }
        :host .dialog label {
            display: block;
            margin-bottom: 4px;
            padding-bottom: 5px;
            border-bottom: 1px solid black;
            font-size: 11pt;
        }
        :host .dialog .content {
            padding: 3px;
        }
        :host alexandria-item-selector {
            width: 100%;
            --alexandria-item-selector-menu-item : {
                font-size: 10pt;
                padding: 0 10px;
            };
        }
    </style>

    <script>

        const SumusTimeBarChartDialogDictionary = {
            es: {
                Categorization : "dimensión",
                Date : "fecha"
            },
            en: {
                Categorization : "dimension",
                Date : "date"
            }
        };

        Polymer({
            is: 'sumus-time-bar-chart-dialog',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                CottonBehaviors.PushBehavior,
                CottonBehaviors.TranslatorBehavior,
                SumusTimeBarChartDialogBehaviors.Requester,
                SumusTimeBarChartDialogBehaviors.NotifierListener ],

            properties : {
                _categorizations : Array,
                _selectedCategorization : Object
            },

            attached : function() {
                this.translate(SumusTimeBarChartDialogDictionary);
                this.listenToDisplay();
            },

            _refreshCategorizationList : function(categorizationList) {
                this._categorizations = categorizationList;
            },

            _refreshCategorization : function(categorization) {
                this._selectedCategorization = categorization;
            },

            _onCategorizationSelected : function(e) {
                this.selectCategorization(e.detail);
            }

        });
    </script>
</dom-module>