<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/alexandria-activity-elements/alexandria-time-navigator.html">
<link rel="import" href="sumustimescatterchart/sumus-scatter-chart.html">

<script src="sumustimescatterchart/requester.js"></script>
<script src="sumustimescatterchart/notifier-listener.js"></script>

<dom-module id="sumus-time-scatter-chart">

    <template>
        <div class="layout vertical">
            <div class="flex" style="height: calc(100% - 60px)">
                <div class="layout horizontal full-height">
                    <div class="data flex">
                        <cotton-checklist title="[[DesignChart]]" list="{{_checkList}}" checked-list="{{_checkedList}}" hidden$="[[!_noQuery]]" on-tap="showDialog"></cotton-checklist>
                        <sumus-scatter-chart class="rowBar" hidden$="[[_noQuery]]"></sumus-scatter-chart>
                    </div>
                </div>
            </div>
            <div class="layout horizontal">
                <div class="flex"><cotton-zombie display="AlexandriaTimeNavigator" widget="AlexandriaTimeNavigator"></cotton-zombie></div>
            </div>
        </div>
    </template>

    <style>
        :host > div {
            padding: 10px 10px 0;
            height: calc(100% - 20px);
            width: calc(100% - 20px);
        }
        :host .full-height {
            height: 100%;
        }
        :host .data {
            height: calc(100% - 10px);
            width: 100%;
            overflow: auto;
        }
        :host .data cotton-checklist {
            margin-top: 20px;
            margin-left: 20px;
            @apply(--layout-horizontal);
        }
    </style>

    <script>

        const SumusTimeScatterChartDictionary = {
            es: {
                DesignChart : "diseñe su gráfica",
                NoQuery : "seleccione una dimensión",
                NoXAxis : "seleccione un indicador para el eje x",
                NoYAxis : "seleccione un indicador para el eje y",
                NoCategorization : "seleccione una dimensión"
            },
            en: {
                DesignChart : "design your chart",
                NoQuery : "select one dimension",
                NoXAxis : "select an indicator for x axis",
                NoYAxis : "select an indicator for y axis",
                NoCategorization : "select one dimension"
            }
        };

        Polymer({
            is: 'sumus-time-scatter-chart',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                CottonBehaviors.PushBehavior,
                CottonBehaviors.TranslatorBehavior,
                SumusTimeScatterChartBehaviors.Requester,
                SumusTimeScatterChartBehaviors.NotifierListener ],

            properties : {
                _xAxis : Object,
                _yAxis : Object,
                _radius : Object,
                _color : Object,
                _selectedCategorization : Object,
                _noXAxis : { type: Boolean, value: function() { return true; }, observer: '_refreshCheckedList' },
                _noYAxis : { type: Boolean, value: function() { return true; }, observer: '_refreshCheckedList' },
                _noCategorization : { type: Boolean, value: function() { return true; }, observer: '_refreshCheckedList' },
                _noQuery : { type: Boolean, value: function() { return true; } },
                _checkList : Array,
                _checkedList : Array
            },

            attached : function() {
                this.translate(SumusTimeScatterChartDictionary);
                this.listenToDisplay();
                this._configureCheckList();
            },

            resize : function() {
                this._resize();
            },

            _configureCheckList : function() {
                this._checkList = [ this.NoXAxis, this.NoYAxis, this.NoCategorization ];
            },

            _refreshCheckedList : function() {
                this._checkedList = [ !this._noXAxis, !this._noYAxis, !this._noCategorization ];
            },

            _refreshTicketList : function(ticketList) {
                this._xAxis = ticketList.length > 0 ? ticketList[0] : null;
                this._yAxis = ticketList.length > 1 ? ticketList[1] : null;
                this._radius = ticketList.length > 2 ? ticketList[2] : null;
                this._color = ticketList.length > 3 ? ticketList[3] : null;
                this._refreshStatus();
            },

            _refreshCategorization : function(categorization) {
                this._selectedCategorization = categorization;
                this._resize();
                this._refreshStatus();
            },

            _refreshHistogram : function(histogram) {
                this._histogram = histogram;

                let element = this.querySelector('sumus-scatter-chart');
                let xAxis = this._histogramTicketForAxis(this._xAxis, histogram);
                let yAxis = this._histogramTicketForAxis(this._yAxis, histogram);
                let radius = this._histogramTicketForAxis(this._radius, histogram);
                let color = this._histogramTicketForAxis(this._color, histogram);
                let minColor = histogram.heatMap != null ? histogram.heatMap.min : "";
                let maxColor = histogram.heatMap != null ? histogram.heatMap.max : "";

                element.resize();
                element.setColors(minColor, maxColor);
                element.setCategories(histogram.categoryViewList.map(c => c.label));
                element.setTickets(xAxis, yAxis, radius, color);

                this._refreshStatus();
            },

            _reloadHistogram : function() {
                if (this._histogram == null) return;
                this._refreshHistogram(this._histogram);
            },

            _histogramTicketForAxis : function(axis, histogram) {
                if (axis == null) return null;
                for (var i=0; i<histogram.ticketList.length; i++)
                    if (histogram.ticketList[i].name === axis.name) return histogram.ticketList[i];
                return null;
            },

            _refreshStatus : function() {
                this._noXAxis = this._xAxis == null;
                this._noYAxis = this._yAxis == null;
                this._noCategorization = this._selectedCategorization == null || this._selectedCategorization === "";
                this._noQuery = this._noXAxis || this._noYAxis || this._noCategorization;
            },

            _resize : function() {
                this.querySelector('sumus-scatter-chart').resize();
            }

        });
    </script>
</dom-module>