<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/cotton-checkbox/cotton-checkbox.html">
<link rel="import" href="../../lib/paper-button/paper-button.html">
<link rel="import" href="../../lib/iron-icon/iron-icon.html">
<link rel="import" href="../../lib/iron-icons/iron-icons.html">
<link rel="import" href="../../lib/iron-icons/av-icons.html">
<link rel="import" href="sumuscategorization/sumus-category-panel.html">

<script src="sumuscategorization/requester.js"></script>
<script src="sumuscategorization/notifier-listener.js"></script>
<script src="../../lib/cotton-delay-executor/DelayExecutor.js"></script>

<dom-module id="sumus-categorization">

    <template>
        <div class="layout vertical">
            <div>
                <div class="layout horizontal">
                    <cotton-checkbox id="checkAll" title="[[AllCategories]]" on-change="_toggleSelection" hidden$="[[_selectionLimited]]"><h3>[[categorization.label]]</h3></cotton-checkbox>
                </div>
                <paper-input id="filter" on-keyup="_filterCategories" no-label-float label="[[FilterCategories]]"></paper-input>
                <div class="count-box layout horizontal end-justified">
                    <div>[[_selectedCount]]</div><div>&nbsp;/&nbsp;</div><div>[[_total]]</div>
                </div>
            </div>
            <div class="categories flex">
                <template is="dom-repeat" items="{{_categories}}">
                    <sumus-category-panel category="[[item]]" on-toggle-category="_toggle"></sumus-category-panel>
                </template>
            </div>
        </div>
    </template>

    <style>
        :host {
            display: block;
            height: 100%;
            width: 100%;
        }

        :host > div {
            height: 100%;
        }

        :host h3 {
            margin: 0;
            font-size: 10pt;
        }

        :host #checkAll {
            margin: 2px 0 0;
            display: block;
        }

        :host .categories {
            overflow: auto;
        }

        :host paper-button {
            padding: 0;
            width: 50px;
            margin-left: 5px;
        }

        :host paper-button[toggles][active] {
            background-color: var(--accent-color);
        }

        :host paper-button iron-icon {
            padding-left: 4px;
            padding-right: 4px;
        }

        :host cotton-checkbox {
            margin-top: 3px;
            margin-left: 6px;
        }

        :host paper-input {
            --paper-input-container-label: {
                font-size: 10pt;
            };
            --paper-input-container-input: {
                font-size: 10pt;
            };
        }

        :host .count-box {
            font-size: 9pt;
            color: #888;
        }

        @media screen and (max-width: 736px) {
        }

    </style>

    <script>

        const SumusCategorizationDictionary = {
            es: {
                AllCategories : "todos",
                TicketLabel : "::label:: expresada usando ::unit::",
                FilterCategories : "filtrar"
            },
            en: {
                AllCategories : "all",
                TicketLabel : "::label:: expressed using ::unit::",
                FilterCategories : "filter"
            }
        };

        Polymer({
            is: 'sumus-categorization',
            _maxSelection : -1,

            behaviors: [ CottonBehaviors.CarrierBehavior,
                CottonBehaviors.PushBehavior,
                CottonBehaviors.TranslatorBehavior,
                SumusCategorizationBehaviors.Requester,
                SumusCategorizationBehaviors.NotifierListener ],

            properties : {
                drillDisabled: { type: Boolean, observer: '_refreshDrillButton', value: function() { return true; } },
                drilling: { type: Boolean, observer: '_refreshDrillButton', value: function() { return false; } },
                categorization: { type: Object, notify: true },
                _filtering: { type: Boolean },
                _categories: { type: Array, notify: true },
                _selectedCount: { type: Number, notify: true, value: function() { return 0; } },
                _total: { type: Number, notify: true },
                _toggleSelectionNotifier : { type: Object, value: function() { return delayExecutor(1000); } },
                _selectionLimited : { type: Boolean, value: function () { return false; } }
            },

            attached : function() {
                this.translate(SumusCategorizationDictionary);
                this.listenToDisplay();
            },

            _refreshCategorization : function(categorization) {
                this.categorization = categorization;
                this._categories = categorization.categoryViewList;
                this._refreshTotal();
            },
            
            _refreshSelected : function(categoryViewList) {
                var selected = categoryViewList;
                var allSelected = true;
                this._forEachCategoryPanel(panel => {
                    if (this._isSelected(panel.category, selected)) {
                        panel.select();
                    } else {
                        allSelected = false;
                        panel.unSelect();
                    }
                });
                this._selectedCount = numeral(categoryViewList.length).format('0,0');
                this.$.checkAll.checked = allSelected;
            },

            _refreshMaxSelection : function(count) {
                this._maxSelection = count;
                this._selectionLimited = true;
                this._refreshTotal();
            },

            _refreshTotal : function() {
                this._total = numeral(this._maxSelection != -1 ? this._maxSelection : this._categories.length).format('0,0');
            },

            _countMessage: function (count) {
                if (count == 0) return "";
                if (count == 1) return this.OneSelection;
                if (count < 100) return this.CountSelection.replace("::value::", count);
                return this.LotsSelection;
            },

            _refreshDrillButton : function() {
            },

            _sortByTicket : function(ticketList) {
                var defaultTicket = ticketList.length > 0 ? ticketList[0] : null;

                if (this._sortBy == null)
                    return defaultTicket;

                for (var i=0; i<ticketList.length; i++) {
                    var ticket = ticketList[i];
                    if (ticket.name === this._sortBy.ticket)
                        return ticket;
                }

                return defaultTicket;
            },

            _refreshSortBy : function(sortBy) {
            },

            _refreshFiltering : function(value) {
                this._filtering = value;
            },

            _enableSelection : function() {
                this.$.checkAll.disabled = false;
                this._forEachCategoryPanel(e => e.enable());
            },

            _disableSelection : function() {
                this.$.checkAll.disabled = true;
                this._forEachCategoryPanel(e => e.disable());
            },

            _forEachCategoryPanel : function (action) {
                [].slice.call(this.querySelectorAll('sumus-category-panel')).forEach(action);
            },

            _isSelected : function (category, selectedCategories) {
                return selectedCategories.filter(c => c.name === category.name).length > 0;
            },

            _toggle : function (e) {
                this._toggleSelectionNotifier.execute(() => {
                    var categories = [];

                    this._forEachCategoryPanel(cp => {
                        if (cp.selected()) categories.push(cp.label());
                    });

                    if (this._maxSelection != -1) {
                        if (categories.length >= this._maxSelection) this._forEachCategoryPanel(cp => { if (!cp.selected()) cp.disable(); });
                        else this._forEachCategoryPanel(cp => cp.enable());
                    }

                    this.toggle({categories: categories, categorization: this.categorization.name});
                });
            },

            _toggleSelection : function() {
                this._toggleSelectionNotifier.execute(() => {
                    if (this.$.checkAll.checked) this.select(this._categories.map(category => category.name));
                    else this.selectNone();
                });
            },

            _filterCategories : function(event) {
                var condition = event.target.value;
                this.querySelectorAll("sumus-category-panel").forEach(function(categoryPanel) {
                    var label = categoryPanel.label();
                    categoryPanel.hidden = condition !== "" && label.toLowerCase().indexOf(condition.toLowerCase()) < 0;
                });
            },

            _loading : function() {},
            _loaded : function() {}

        });
    </script>
</dom-module>
