<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/alexandria-activity-elements/alexandriatimerangenavigator/alexandria-pocket-time-range-navigator.html">

<script src="sumustimeserieschartdialog/requester.js"></script>
<script src="sumustimeserieschartdialog/notifier-listener.js"></script>

<dom-module id="sumus-time-series-chart-dialog">

    <template>
        <div class="layout horizontal center-justified wrap">
            <div class="dialog range">
                <label>[[Range]]</label>
                <div class="content">
                    <cotton-zombie display="AlexandriaTimeRangeNavigator" widget="AlexandriaPocketTimeRangeNavigator"></cotton-zombie>
                </div>
            </div>
        </div>
    </template>

    <style>
        :host > div {
            overflow: auto;
        }
        :host .dialog {
            min-width: 190px;
            width: 190px;
            margin: 0 20px 20px;
            position: relative;
            padding: 4px;
        }
        :host .dialog label {
            display: block;
            margin-bottom: 4px;
            padding-bottom: 5px;
            border-bottom: 1px solid black;
            font-size: 11pt;
        }
        :host .dialog .content {
            padding: 3px;
        }
    </style>

    <script>

        const SumusTimeSeriesChartDialogDictionary = {
            es: {
                Range : "periodo"
            },
            en: {
                Range : "period"
            }
        };

        Polymer({
            is: 'sumus-time-series-chart-dialog',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                CottonBehaviors.PushBehavior,
                CottonBehaviors.TranslatorBehavior,
                SumusTimeSeriesChartDialogBehaviors.Requester,
                SumusTimeSeriesChartDialogBehaviors.NotifierListener ],

            properties : {
            },

            attached : function() {
                this.translate(SumusTimeSeriesChartDialogDictionary);
                this.listenToDisplay();
            }

        });
    </script>
</dom-module>