<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/cotton-checkbox/cotton-checkbox.html">
<link rel="import" href="sumuscategorization/sumus-categorization-item.html">
<link rel="import" href="sumus-categorization.html">

<script src="sumuscategorizationcomparator/requester.js"></script>
<script src="sumuscategorizationcomparator/notifier-listener.js"></script>

<dom-module id="sumus-categorization-comparator">

    <template>
        <div class="layout horizontal">
            <div class="categorizations">
                <div class="layout vertical">
                    <paper-menu class="layout flex" selected="{{_selectedCategorization}}">
                        <template is="dom-repeat" items="{{_categorizations}}">
                            <sumus-categorization-item categorization="[[item]]"></sumus-categorization-item>
                        </template>
                    </paper-menu>
                    <cotton-checkbox on-change="_toggleGlobalSerie" checked$=[[_includeGlobalSerie]]>[[IncludeGlobalSerieLabel]]</cotton-checkbox>
                </div>
            </div>
            <div class="layout flex">
                <iron-pages selected="{{_selectedCategorization}}">
                    <template id="categories" is="dom-repeat" items="{{_allCategorizations}}">
                        <cotton-zombie display="SumusCategorization" widget="SumusCategorization" object$="[[item.name]]"></cotton-zombie>
                    </template>
                </iron-pages>
            </div>
        </div>
    </template>

    <style>
        :host > div {
            height: 100%;
        }
        :host .categorizations {
            width: 20%;
            height: 100%;
        }
        :host .categorizations h3 {
            margin: 6px 10px;
            font-size: 12pt;
        }
        :host paper-menu {
            padding: 0;
            background-color: transparent;
            width: 150px;
            height: calc(100% - 30px);
            overflow: auto;
            display: block;
        }
        :host paper-item {
            font-size: 10pt;
            line-height: 12px;
            min-height: 0;
            padding: 2px 4px;
            display: block;
            outline: none;
            cursor: pointer;
            width: calc(100% - 8px);
            border-radius: 3px 0 0 3px;
            --paper-item-selected: {
                background-color: var(--accent-color);
                color: white;
            };
            --paper-item-focused: {
                background-color: var(--accent-color);
                color: white;
            };
        }
        :host paper-menu ::content .selectable-content {
            width: 100%;
        }
        :host iron-pages {
            height: calc(100% - 20px);
            width: calc(100% - 20px);
        }
        :host iron-pages sumus-categorization {
            margin: 5px 20px 0;
        }
        :host cotton-checkbox {
            margin-top: 15px;
        }
    </style>

    <script>

        const SumusCategorizationComparatorDictionary = {
            es: {
                Categorizations : "dimensiones",
                IncludeGlobalSerieLabel: "añadir línea de referencia"
            },
            en: {
                Categorizations : "dimensions",
                IncludeGlobalSerieLabel: "add reference line"
            }
        };

        Polymer({
            is: 'sumus-categorization-comparator',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                         CottonBehaviors.PushBehavior,
                         CottonBehaviors.TranslatorBehavior,
                         SumusCategorizationComparatorBehaviors.Requester,
                         SumusCategorizationComparatorBehaviors.NotifierListener ],

            properties : {
                _categorizations : Array,
                _allCategorizations : Array,
                _selectedCategorization : { type: Number, value: function() { return 0; } },
                _includeGlobalSerie : { type: Boolean, value: function() { return true; } }
            },

            attached : function() {
                this.translate(SumusCategorizationComparatorDictionary);
                this.listenToDisplay();
            },

            _refreshCategorizationList : function(categorizationList) {
                this._categorizations = categorizationList;
                this._allCategorizations = categorizationList;
            },

            _refreshIncludeGlobalSerie : function(value) {
                this._includeGlobalSerie = value;
            },

            _toggleGlobalSerie : function() {
                this.includeGlobalSerie(!this._includeGlobalSerie);
            }

        });
    </script>
</dom-module>