<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/alexandria-activity-elements/_common/alexandria-item-selector-combo.html">

<script src="sumusnamespace/requester.js"></script>
<script src="sumusnamespace/notifier-listener.js"></script>

<dom-module id="sumus-name-space">

    <template>
        <alexandria-item-selector-combo label="[[NameSpace]]"
                                        items="[[_nameSpaces]]"
                                        selected="[[_selectedNameSpace]]"
                                        on-item-selected="_selectNameSpace"></alexandria-item-selector-combo>
    </template>

    <style>
    </style>

    <script>

        const SumusNameSpaceDictionary = {
            es: {
                NameSpace : "fuente de datos"
            },
            en: {
                NameSpace : "data source"
            }
        };

        Polymer({
            is: 'sumus-name-space',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                CottonBehaviors.PushBehavior,
                CottonBehaviors.TranslatorBehavior,
                SumusNameSpaceBehaviors.Requester,
                SumusNameSpaceBehaviors.NotifierListener ],

            properties : {
                _nameSpaces: { type: Array, value: function() { return []; } },
                _selectedNameSpace : String
            },

            attached : function() {
                this.translate(SumusNameSpaceDictionary);
                this.listenToDisplay();
            },

            _refreshNameSpaces : function(nameSpaces) {
                this._nameSpaces = nameSpaces;
            },

            _refreshSelectedNameSpace : function(nameSpace) {
                this._selectedNameSpace = nameSpace;
            },

            _selectNameSpace: function (e) {
                this.selectNameSpace(e.detail);
            }

        });
    </script>
</dom-module>