<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">

<script src="sumuserror/requester.js"></script>
<script src="sumuserror/notifier-listener.js"></script>

<dom-module id="sumus-error">

    <template>
        <div class="container">
            <paper-card>
                <div class="card-content">
                    <div class="layout horizontal wrap">
                        <div class="logo"><iron-image src="[[logo]]"></iron-image></div>
                        <div>
                            <h1>[[title]]</h1>
                            <h2>[[subtitle]]</h2>
                        </div>
                    </div>
                    <div>
                        <h3>[[errorLabel]]</h3>
                        <div class="error cncwf">[[couldNotConnectWithFederationMessage]]</div>
                    </div>
                </div>
                <div class="card-actions layout horizontal">
                    <div class="flex"></div>
                    <div><paper-button id="homeButton" raised on-click="handleHome">[[homeAction]]</paper-button></div>
                </div>
            </paper-card>
            <br/><br/>
        </div>
    </template>

    <style>
        :host {
            @apply(--layout);
            align-items:center;
            -webkit-align-items: center;
            justify-content:center;
            -webkit-justify-content:center;
            height: 100%;
        }

        :host .logo {
            width: 100%;
        }

        :host iron-image {
            @apply(--logo-size);
            margin-right: 20px;
            cursor: pointer;
        }

        :host img {
            margin-right: 10px;
        }

        :host h1 {
            justify-content:center;
        }

        :host h2 {
            padding: 0;
            margin: -25px 0 0;
        }

        :host h3 {
            padding: 0;
            margin: 15px 0 0;
        }

        :host paper-card {
            margin: 40px;
            max-width: 800px;
            background: white;

            --paper-card-actions: {
                text-align: right;
                padding: 15px;
            }
        }

        :host .error {
            display: none;
            color: red;
            margin: 20px 0 0;
            border-radius: 5px;
        }
    </style>

    <script>

        const SumusErrorDictionary = {
            es: {
                errorLabel : "se ha producido un error",
                couldNotConnectWithFederationMessage : "no se ha podido establecer conexión con la federación",
                homeAction : "reintentar"
            },
            en: {
                errorLabel : "an error has occurried",
                couldNotConnectWithFederationMessage : "could not connect with federation",
                homeAction : "retry"
            }
        };

        Polymer({
            is: 'sumus-error',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                         CottonBehaviors.PushBehavior,
                         CottonBehaviors.TranslatorBehavior,
                         SumusErrorBehaviors.Requester,
                         SumusErrorBehaviors.NotifierListener ],

            properties : {
                title : String,
                subtitle : String,
                code : String,
                homeUrl : String
            },

            attached : function() {
                this.translate(SumusErrorDictionary);
                this.listenToDisplay();
                this.refresh();
            },

            refresh : function() {
                this.hideErrors();
                this.showError(this.code);
            },

            showError : function(errorCode) {
                this.querySelector(".error." + errorCode.replace("err:", "")).style.display = "block";
            },

            hideErrors : function() {
                this.querySelectorAll(".error").forEach(function(errorElement) {
                    errorElement.style.display = "none";
                });
            },

            handleHome : function(event) {
                window.location.href = this.homeUrl;
            }

        });
    </script>
</dom-module>
