<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/cotton-checklist/cotton-checklist.html">
<link rel="import" href="../../lib/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="../../lib/alexandria-activity-elements/alexandria-time-navigator.html">
<link rel="import" href="sumustimebarchart/sumus-bar-chart.html">

<script src="sumustimebarchart/requester.js"></script>
<script src="sumustimebarchart/notifier-listener.js"></script>

<dom-module id="sumus-time-bar-chart">

    <template>
        <div class="layout vertical">
            <div class="layout vertical flex" style="height: calc(100% - 60px)">
                <div class="layout horizontal full-height">
                    <div class="data flex" style="overflow: auto;">
                        <cotton-checklist title="[[DesignChart]]" list="{{_checkList}}" checked-list="{{_checkedList}}" hidden$="[[!_noQuery]]" on-tap="showDialog"></cotton-checklist>
                        <sumus-bar-chart class="rowBar" hidden$="[[_noQuery]]"></sumus-bar-chart>
                    </div>
                </div>
            </div>
            <div class="layout horizontal">
                <div class="flex"><cotton-zombie display="AlexandriaTimeNavigator" widget="AlexandriaTimeNavigator"></cotton-zombie></div>
            </div>
        </div>
    </template>

    <style>
        :host > div {
            padding: 10px 10px 0;
            height: calc(100% - 20px);
            width: calc(100% - 20px);
        }
        :host .full-height {
            height: 100%;
        }
        :host .data {
            height: calc(100% - 10px);
            width: 100%;
            overflow: auto;
        }
        :host .data cotton-checklist {
            margin-top: 20px;
            margin-left: 20px;
            @apply(--layout-horizontal);
        }
    </style>

    <script>

        const SumusTimeBarChartDictionary = {
            es: {
                DesignChart : "diseñe su gráfica",
                NoTickets : "seleccione uno o varios indicadores",
                NoCategorization : "seleccione una dimensión"
            },
            en: {
                DesignChart : "design your chart",
                NoTickets : "select one or more indicators",
                NoCategorization : "select one dimension"
            }
        };

        Polymer({
            is: 'sumus-time-bar-chart',
            _ticketCount : 0,

            behaviors: [ CottonBehaviors.CarrierBehavior,
                CottonBehaviors.PushBehavior,
                CottonBehaviors.TranslatorBehavior,
                SumusTimeBarChartBehaviors.Requester,
                SumusTimeBarChartBehaviors.NotifierListener,
                Polymer.IronResizableBehavior ],

            listeners: {
                'iron-resize': '_resize'
            },

            properties : {
                _selectedCategorization : String,
                _noTickets : { type: Boolean, value: function() { return true; }, observer: '_refreshCheckedList' },
                _noCategorization : { type: Boolean, value: function() { return true; }, observer: '_refreshCheckedList' },
                _noQuery : { type: Boolean, value: function() { return true; } },
                _checkList : Array,
                _checkedList : Array
            },

            attached : function() {
                this.translate(SumusTimeBarChartDictionary);
                this.listenToDisplay();
                this._configureCheckList();
            },

            resize : function() {
                this._resize();
            },

            _configureCheckList : function() {
                this._checkList = [ this.NoTickets, this.NoCategorization ];
            },

            _refreshCheckedList : function() {
                this._checkedList = [ !this._noTickets, !this._noCategorization ];
            },

            _refreshTicketCount : function(count) {
                this._ticketCount = count;
                this._refresh();
            },

            _refreshCategorization : function(categorization) {
                this._selectedCategorization = categorization;
                this._refresh();
            },

            _refreshHistogram : function(histogram) {
                this.querySelector('sumus-bar-chart').setCategories(histogram.categoryViewList.map(c => c.label));
                this.querySelector('sumus-bar-chart').setTicketList(histogram.ticketList);
                this._resize();
            },

            _refresh : function() {
                this._noTickets = this._ticketCount <= 0;
                this._noCategorization = this._selectedCategorization == null || this._selectedCategorization === "";
                this._noQuery = this._noTickets || this._noCategorization;
            },

            _resize : function() {
                this.querySelector('sumus-bar-chart').resize();
            }

        });
    </script>
</dom-module>