<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../lib/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../lib/iron-icons/iron-icons.html">
<link rel="import" href="../../lib/iron-icons/editor-icons.html">
<link rel="import" href="../../lib/paper-menu/paper-menu.html">
<link rel="import" href="../../lib/paper-item/paper-item.html">
<link rel="import" href="sumusfilterlist/sumus-filter-item.html">

<script src="sumusfilterlist/requester.js"></script>
<script src="sumusfilterlist/notifier-listener.js"></script>

<dom-module id="sumus-filter-list">

    <template>
        <paper-menu id="menu" class="layout horizontal" selected="{{_selectedFilter}}" on-iron-select="_selectFilter" selected="0">
            <template is="dom-repeat" items="{{_filters}}" as="filter">
                <paper-item name="[[filter.name]]">
                    <sumus-filter-item filter="[[filter]]" on-remove="_removeFilter" on-save="_saveFilter" on-apply="_applyFilter" on-quit="_quitFilter"></sumus-filter-item>
                </paper-item>
            </template>
            <paper-icon-button title="[[AddFilter]]" icon="add-circle-outline" on-tap="_addFilter"></paper-icon-button>
        </paper-menu>
        <div class="message" hidden$="[[_hasFilters]]">[[NoFilters]]</div>
    </template>

    <style>
        :host {
            --paper-menu-selected-item: {
                background-color: var(--accent-color);
            };
        }
        :host paper-icon-button {
            color: var(--default-primary-color);
            margin-left: -7px;
            margin-top: -4px;
        }
        :host paper-icon-button.iron-selected {
            background-color: transparent !important;
        }
        :host paper-menu {
            padding: 0;
            background-color: transparent;
            width: 150px;
            height: calc(100% - 10px);
            padding-top: 10px;
            overflow: auto;
            display: block;
        }
        :host paper-item {
            font-size: 10pt;
            line-height: 12px;
            min-height: 0;
            padding: 0 4px;
            display: block;
            outline: none;
            cursor: pointer;
            width: calc(100% - 8px);
            border-radius: 3px 0 0 3px;
            --paper-item-selected: {
                background-color: var(--accent-color);
                color: white;
            };
            --paper-item-focused: {
                background-color: var(--accent-color);
                color: white;
            };
        }
        :host paper-menu ::content .selectable-content {
            width: 100%;
        }
        :host paper-item sumus-filter-item ::content .toolbar-item {
            display: none;
        }
        :host paper-item[aria-selected] sumus-filter-item:hover ::content .toolbar-item {
            display: block;
        }
        :host .message {
            color: #888;
            font-size: 10pt;
        }
        @media screen and (max-width: 736px) {
            :host paper-menu {
                width: calc(100% - 10px);
            }
            :host paper-item {
                border-radius: 3px;
            }
            :host paper-item[aria-selected] sumus-filter-item:hover ::content .toolbar-item, :host .toolbar-item {
                display: none;
            }
        }
    </style>

    <script>

        const SumusFilterListDictionary = {
            es: {
                NoFilters : "no hay filtros",
                Filters : "filtros",
                AddFilter : "añadir filtro"
            },
            en: {
                NoFilters : "no filters",
                Filters : "filters",
                AddFilter : "add filter"
            }
        };

        Polymer({
            is: 'sumus-filter-list',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                         CottonBehaviors.PushBehavior,
                         CottonBehaviors.TranslatorBehavior,
                         SumusFilterListBehaviors.Requester,
                         SumusFilterListBehaviors.NotifierListener ],

            properties : {
                _filters : Array,
                _selectedFilter : String,
                _hasFilters : Boolean
            },

            attached : function() {
                this.translate(SumusFilterListDictionary);
                this.listenToDisplay();
            },

            _resize : function() {
            },

            _doDrill : function() {
                this.fire("drill");
            },

            _refreshFilterList : function(filterList) {
                this._filters = filterList;
                this._hasFilters = filterList.length > 0;
            },

            _refreshSelected : function(name) {
                var index = this._filterIndexOf(name);
                this._refreshing = true;
                this._selectedFilter = index;
                this._refreshing = false;
            },

            _refreshApplied : function(list) {
                this.querySelectorAll('sumus-filter-item').forEach((filterItem) => {
                    filterItem.markApplied(list.indexOf(filterItem.filterName()) != -1);
                });
            },

            _filterIndexOf : function(name) {
                for (var i=0; i<this._filters.length; i++)
                    if (this._filters[i].name === name)
                        return i;
                return 0;
            },

            _applyFilter : function(event) {
                this.applyFilter(event.detail.filter.name);
            },

            _quitFilter : function(event) {
                this.quitFilter(event.detail.filter.name);
            },

            _selectFilter : function() {
                if (this._refreshing)
                    return;

                var selected = this.$.menu.selectedItem;
                if (selected == null || selected.name == null) return;
                this.selectFilter(selected.name);
            },

            _addFilter : function(event) {
                this.addFilter();
            },

            _saveFilter : function(event) {
                var filter = event.detail.filter;
                this.saveFilter({ filter: filter.name, label: filter.label });
            },

            _removeFilter : function(event) {
                this._selectedFilter = null;
                this.removeFilter(event.detail.filter.name);
            },

            _refresh: function () {
            }

        });
    </script>
</dom-module>